{%extends 'index.html'%}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{%block head%}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>
<script type="text/javascript">

function ocultarFiltro(){
    
      
    if(document.getElementById("contenedorFiltro").style.display == "none" || document.getElementById("contenedorFiltro").style.display == "" ){
        document.getElementById("contenedorFiltro").style.display='block';
    }
    else{
            document.getElementById("contenedorFiltro").style.display='none';
        }

}
</script>
{%endblock head%}
{%block estilos%}
    <style type="text/css">
        h6#fraseTable{
            display: inline-block;
            

        }
        a#fraseTableBoton{
              display: inline-block;
              float: right;
              margin-bottom: 2%;
              color: black;
             
              

        }
        div#masPlus{
      margin-left: 2%;

    }

        label.col-form-label{
          display: inline-block;
         
        }
        div#icon8{
          padding: 10px;
          width: 40px;
          height: 40px;
        }
        div#icon7{
          
          width: 100px;
          height: 100px;
        }
        div.dt-buttons btn-group flex-wrap{
  
  position: absolute initial;
  
}
div#elgrando{
  width: 400px;
}
p#msj{
    font-size: 17px;
}
label.izquierda{
  display: inline-block;
  margin-left: 5%;
  
}
div.derecha{
  display: inline-block;
  
  margin-left: 5%;
  
  
}
button#botonExtra{
  display: inline-block;
  background-color: rgb(219, 90, 90);
  border: 2px solid rgb(32, 32, 32);
}
div#contenedorFiltro{
  padding: 2%;
  display: none;
  background-color: antiquewhite;
}
div.alinealoNomas{
  text-align: left;
}
div.dataTables_length{
  display: inline-block;
  margin-left: 3%;
}
div.dataTables_filter{
  float: right;
  
}
div#espeNIvel{
  display: inline-block;
  margin-right: 2%;
}
div#music{
  display: inline-block;
  margin-right: 2%;
}
div#edadFiltro{
  display: inline-block;
}
        div#ere{

margin-right: 2px;
margin-left: 2px;
}

    </style>
{%endblock estilos%}


<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        {%block contenidiPagina%}

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div id="cuadroMensajes" >

                {% if messages %}
                {% for message in messages %}
  
                {% if message.tags == 'success'%}
                <ul class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %} id="msj"><strong>{{ message }}</strong></p>
                </ul> 
                {%endif%}
                {% if message.tags == 'error'%}
                <ul class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %} id="msj"><strong>{{ message }}</strong></p>
                </ul> 
                {%endif%}
  
                {% endfor %}
               {% endif %}
        </div>
          
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Alumnos</h1>
          <p class="mb-4">En la siguiente tabla podra visualizar los alumnos que cuenta la institucion actualmente; editar o eliminar alguno. Ademas de insertar un nuevo al sistema.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <button class="btn btn-facebook" id="botonExtra" onclick="ocultarFiltro()">
                    <i class="fas fa-file"></i>
                  </button>
              <h6 id="fraseTable" class="m-0 font-weight-bold text-primary">Conjunto de alumnos que cuenta actualmente:</h6>
              <!--modal-->
                  
                    
              {%if  perms.gestionMusical.es_director %}
              <a id="fraseTableBoton"   class="btn btn-primary btn-icon-split" data-toggle="modal" data-target=".bs-example-modal-lg5">
                              
                  <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                  </span>
                  <span class="text">Añadir Alumno</span>
                  
            
              </a>
              {%endif%}
              <!---->
              <form class="user" method="POST">
                  {% csrf_token %}
              <div id="contenedorFiltro">
                  <input type="hidden" id="filtrado" value="{{filtro}}">
  
             
                <div id="comboFiltro">
                    
                  <div id="zonaInput">
                    <!--3 div-->
                    
  
    
  
  
  
  
                          <div class="form-group" id="espeNIvel">
                              <label for="inputAddress2" class="sub" style="color: black">Especialidad Relacionada:</label>
                              
                              <div class="form-row" id="espec2">
                                  <select name="espec" id="espec" class="form-control" single>
                                      <option value=''>-------</option>
                                      {%for e in especialidades%}
                                      <option value="{{e.id}}">
                                          {{e}}
                                      </option>
                                      {%endfor%}
                                  </select>
        
                              </div>
        
                            </div>



                            <div class="form-group" id="music">
                                <label for="inputAddress2" class="sub" style="color: black">Musica Preferida:</label>
                                
                                <div class="form-row" id="espec2">
                                    <select name="music" id="music" class="form-control"  single>
                                        <option value=''>-------</option>
                                        {%for e in musicasTotales%}
                                        <option value="{{e.id}}">
                                            {{e}}
                                        </option>
                                        {%endfor%}
                                    </select>
          
                                </div>
          
                              </div>
                              <input type="hidden" id="inputOculto" value="{{pedidor}}">
                                <input type="hidden" id="inputOcultoTemplate" value="5">



                              <div class="form-group" id="edadFiltro">
                                  <label for="inputAddress2" class="sub" style="color: black">Edad:</label>
                                  
                                  <div class="form-row" id="espec2">
                                      <input type="number" class="form-control" name="edadFiltro" min="0" max="150">
            
                                  </div>
            
                                </div>
  
  
  
                            
                            
                        
  
  
  
  
  
  
  
  
  
  
  
  
  
                                
                        </div>
  
  
  
                        
  
                    <!--3dic-->
                  
                  <div id="zonaBotones">
                  <button type="submit" class="btn btn-primary"  id="fil" onclick="boton(1)">Filtrar</button>
                 
                  <input type="hidden" id="yolo" name="yolo" value="no cambio">
                  <input type="hidden" id="custId" name="custId" value="no cambio">
                   
                  </div>
  
                </div>
  
              </div>
            </div>
            
            </form>
              <!---->
              {%if  perms.gestionMusical.es_director %}
              <div class="modal fade bs-example-modal-lg5" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel">Lista de Pre-Alumnos Pendientes: </h4>
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                                      </button>
                              
                          </div>
                          <div class="modal-body">
                              <!--lista escrolleable de alumnos, ver, desasociar, asistencia check-->
                              <div id="" style="overflow-y:scroll; height:400px;">
                              
                                  

                                  <!--tabla-->
                                  <div class="card-body">
                                      <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                          <thead>
                                            <tr>
                                             
                                              <th>Nombre</th>
                                              <th>Apellido</th>
                                              
                                              
                                              
                                             
                                              
                                              
                                              <th>Acciones</th>
                                              
                                            </tr>
                                          </thead>
                                          
                                          <tbody>
                                            {% for alu in alumnos%}
                                                {%if alu.estado%}
                                                {%else%}
                                             
                                                <tr>
                                                  
                                                  <td>{{alu.nombre}}</td>
                                                  <td>{{alu.apellido}}</td>
                                                  
                                                  
                                                  
                                                  
                                                  
                                                  <td>
                                                  
                                                  <center>
                                                      
                                                     
                        
                                                      <div class="btn-group">
                                                        <center>
                                                            <div >
                                                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg{{alu.dni}}">
                                                            
                                                            <i class="fa fa-eye"></i>
                                                          
                                                          </button>
                                                        </div>
                                                        </center>
                                                          <div class="modal fade bs-example-modal-lg{{alu.dni}}" id="myModal{{alu.dni}}" tabindex="-1" role="dialog" aria-hidden="true">
                                                              <div class="modal-dialog modal-lg">
                                                                  <div class="modal-content" id="elgrando">
                                                                      <div class="modal-header">
                                                                          <h4 class="modal-title" id="myModalLabel{{alu.dni}}">Datos Personales</h4>
                                                                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                                                                                  </button>
                                                                          
                                                                      </div>
                                                                      <div class="modal-body" id="cuerpoModal">
                                                                          <div class="alinealoNomas">
                                                                              <label for="inputEmail3" class="izquierda">DNI: </label>
                                                                              <div class="derecha">
                                                                                {{alu.dni}}
                                                                              </div>
                                                                            </div>
                                                                            <div class="alinealoNomas">
                                                                                <label for="inputEmail3" class="izquierda">Apellido:</label>
                                                                                <div class="derecha">
                                                                                    {{alu.apellido}}
                                                                                </div>
                                                                              </div>
                                                                              <div class="alinealoNomas">
                                                                                  <label for="inputEmail3" class="izquierda">Nombre:</label>
                                                                                  <div class="derecha">
                                                                                      {{alu.nombre}}
                                                                                  </div>
                                                                                </div>
                                                                                <div class="alinealoNomas">
                                                                                    <label for="inputEmail3" class="izquierda">Sexo:</label>
                                                                                    <div class="derecha">
                                                                                        {{alu.sexo}}
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="alinealoNomas">
                                                                                      <label for="inputEmail3" class="izquierda">Fecha Nacimiento:</label>
                                                                                      <div class="derecha">
                                                                                          {{alu.fechaNac}}
                                                                                      </div>
                                                                                    </div>
                                                                                    <div class="alinealoNomas">
                                                                                        <label for="inputEmail3" class="izquierda">Domicilio:</label>
                                                                                        <div class="derecha">
                                                                                            {{alu.domicilio}}
                                                                                        </div>
                                                                                      </div>
                                                                                      <div class="alinealoNomas">
                                                                                          <label for="inputEmail3" class="izquierda">Telefono:</label>
                                                                                          <div class="derecha">
                                                                                              {{alu.telefono}}
                                                                                          </div>
                                                                                        </div>
                                                                                        <div class="alinealoNomas">
                                                                                            <label for="inputEmail3" class="izquierda">Correo:</label>
                                                                                            <div class="derecha">
                                                                                                {{alu.correoElectronico}}
                                                                                            </div>
                                                                                          </div>
                                                                                          <div class="alinealoNomas">
                                                                                              <label for="inputEmail3" class="izquierda">Observaciones:</label>
                                                                                              <div class="derecha">
                                                                                                  {{alu.observaciones}}
                                                                                              </div>
                                                                                            </div>
                                                                                            <div class="alinealoNomas">
                                                                                                <label for="inputEmail3" class="izquierda">Gusto Musical:</label>
                                                                                                <div class="derecha">
                                                                                                    {{alu.musica}}
                                                                                                </div>
                                                                                              </div>
                                                                                              <div class="alinealoNomas">
                                                                                                  <label for="inputEmail3" class="izquierda">Conocimiento Previo:</label>
                                                                                                  <div class="derecha">
                                                                                                      {{alu.conocimientoPrevio}}
                                                                                                  </div>
                                                                                                </div>
                        
                                                                                                <div class="alinealoNomas">
                                                                                                    <label for="inputEmail3" class="izquierda">Especialidad Requerida:</label>
                                                                                                    <div class="derecha">
                                                                                                      {% if alu.especialidadRequerida == None  %}
                                                                                                           Ninguna Asignada
                                                                                                     
                                                                                                      {% else %}
                                                                                                          {{alu.especialidadRequerida}}
                                                                                                      {% endif %}
                                                                                                    </div>
                                                                                                  </div>
                                                                                                  <div class="alinealoNomas">
                                                                                                      <label for="inputEmail3" class="izquierda">Nivel en la especialidad:</label>
                                                                                                      <div class="derecha">
                                                                                                          {{alu.nivel}}  
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  <div class="alinealoNomas">
                                                                                                      <label for="inputEmail3" class="izquierda" style="color: black;">TUTOR:</label>
                                                                                                      <div class="derecha">
                                                                                                          
                                                                                                          {%if alu.tutor%}
                                                                                                          {{alu.tutor}}
                                                                                                          <a href="#">mas</a>
                                                                                                          {%else%} 
                                                                                                          <p>No registrado / mayor de edad</p>
                                                                                                          {%endif%}
                                                                                                      </div>
                                                                                                    </div>

                                                                          
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                          
                                                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                                      </div>
                                                      
                                                                  </div>
                                                              </div>
                                                          </div>
                        
                                                          
                                                      <div class="btn-group" id="masPlus">
                                                        <center>
                                                          <button type="button" class="btn btn-warning btn-icon-split" data-toggle="modal" data-target=".bs-example-modal-lg2{{alu.dni}}">
                                                              <div id="icon8">
                                                            <i class="fas fa-plus"></i>
                                                          </div>
                                                          </button>
                                                        </center>
                                                        
                                                          <div class="modal fade bs-example-modal-lg2{{alu.dni}}" id="myModal2{{alu.dni}}" tabindex="-1" role="dialog" aria-hidden="true">
                                                              <div class="modal-dialog modal-lg">
                                                                  <div class="modal-content">
                                                                      <div class="modal-header">
                                                                          <h4 class="modal-title" id="myModalLabel{{alu.dni}}">Confirmacion de Eliminacion</h4>
                                                                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                                                                                  </button>
                                                                          
                                                                      </div>
                                                                      <div class="modal-body">
                                                                          <h4>Esta seguro de establecer como Alumno al Sr/a {{alu.apellido}} {{alu.nombre}} ???</h4>
                                                                          
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                          <a href="{% url 'gestionMusical:reivindicar_alumno' alu.dni %}">
                                                                          <button type="button" class="btn btn-primary" >Confirmar </button>
                                                                        </a>
                                                                        </div>
                                                      
                                                                  </div>
                                                              </div>
                                                          </div>
                                                  </center>
                                                
                                                  </td>
                                                
                                                </tr>
                                                {%endif%}
                                            {%endfor%}
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  

                                  <!--fin tabla-->


                                  
                                  
                                  
                                  
                                 
                              
                                </div>
                          </div>
                          <div class="modal-footer">
                              
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                          </div>
                          
                      </div>
                  </div>
              
            <!--fin modal-->
            </div>
            {%endif%}





            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>DNI</th>

                      <th style="display: none"> Apellido y Nombre</th>
                      <th style="display: none">Sexo</th>
                      <th style="display: none">Fecha de Nacimiento</th>
                     
                     
                      
                      <th style="display: none">Correo Electronico</th>
                      <th style="display: none">Telefono</th>


                      <th class="noExport">Nombre</th>
                      <th class="noExport">Apellido</th>
                      
                      
                      <th class="noExport">Correo Electronico</th>
                     
                      
                      
                      <th class="noExport">Acciones</th>
                      
                    </tr>
                  </thead>
                  
                  <tbody>
                    {% for alu in alumnos%}
                        {%if alu.estado%}
                     
                        <tr>
                          <td>{{alu.dni}}</td>

                          <td style="display: none">{{alu.apellido}}, {{alu.nombre}}</td>
                          <td style="display: none">{{alu.sexo}}</td>
                          <td style="display: none">{{alu.fechaNac}}</td>
                          <td style="display: none">{{alu.correoElectronico}}</td>
                          <td style="display: none">{{alu.telefono}}</td>
                          
                          
                          



                          <td>{{alu.nombre}}</td>
                          <td>{{alu.apellido}}</td>
                          
                          <td>{{alu.correoElectronico}}</td>
                          
                          
                          
                          <td>
                          
                          <center>
                              
                             

                              <div class="btn-group">
                                <center>
                                    <div >
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg{{alu.dni}}">
                                    
                                    <i class="fa fa-eye"></i>
                                  
                                  </button>
                                </div>
                                </center>
                                  <div class="modal fade bs-example-modal-lg{{alu.dni}}" id="myModal{{alu.dni}}" tabindex="-1" role="dialog" aria-hidden="true">
                                      <div class="modal-dialog modal-lg">
                                          <div class="modal-content" id="elgrando">
                                              <div class="modal-header">
                                                  <h4 class="modal-title" id="myModalLabel{{alu.dni}}">Datos Personales</h4>
                                                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                                                          </button>
                                                  
                                              </div>
                                              <div class="modal-body" id="cuerpoModal">
                                                  <div class="alinealoNomas">
                                                      <label for="inputEmail3" class="izquierda">DNI: </label>
                                                      <div class="derecha">
                                                        {{alu.dni}}
                                                      </div>
                                                    </div>
                                                    <div class="alinealoNomas">
                                                        <label for="inputEmail3" class="izquierda">Apellido:</label>
                                                        <div class="derecha">
                                                            {{alu.apellido}}
                                                        </div>
                                                      </div>
                                                      <div class="alinealoNomas">
                                                          <label for="inputEmail3" class="izquierda">Nombre:</label>
                                                          <div class="derecha">
                                                              {{alu.nombre}}
                                                          </div>
                                                        </div>
                                                        <div class="alinealoNomas">
                                                            <label for="inputEmail3" class="izquierda">Sexo:</label>
                                                            <div class="derecha">
                                                                {{alu.sexo}}
                                                            </div>
                                                          </div>
                                                          <div class="alinealoNomas">
                                                              <label for="inputEmail3" class="izquierda">Fecha Nacimiento:</label>
                                                              <div class="derecha">
                                                                  {{alu.fechaNac}}
                                                              </div>
                                                            </div>
                                                            <div class="alinealoNomas">
                                                                <label for="inputEmail3" class="izquierda">Domicilio:</label>
                                                                <div class="derecha">
                                                                    {{alu.domicilio}}
                                                                </div>
                                                              </div>
                                                              <div class="alinealoNomas">
                                                                  <label for="inputEmail3" class="izquierda">Telefono:</label>
                                                                  <div class="derecha">
                                                                      {{alu.telefono}}
                                                                  </div>
                                                                </div>
                                                                <div class="alinealoNomas">
                                                                    <label for="inputEmail3" class="izquierda">Correo:</label>
                                                                    <div class="derecha">
                                                                        {{alu.correoElectronico}}
                                                                    </div>
                                                                  </div>
                                                                  <div class="alinealoNomas">
                                                                      <label for="inputEmail3" class="izquierda">Observaciones:</label>
                                                                      <div class="derecha">
                                                                          {{alu.observaciones}}
                                                                      </div>
                                                                    </div>
                                                                    <div class="alinealoNomas">
                                                                        <label for="inputEmail3" class="izquierda">Gusto Musical:</label>
                                                                        <div class="derecha">
                                                                            {{alu.musica}}
                                                                        </div>
                                                                      </div>
                                                                      <div class="alinealoNomas">
                                                                          <label for="inputEmail3" class="izquierda">Conocimiento Previo:</label>
                                                                          <div class="derecha">
                                                                              {{alu.conocimientoPrevio}}
                                                                          </div>
                                                                        </div>

                                                                        <div class="alinealoNomas">
                                                                            <label for="inputEmail3" class="izquierda">Especialidad Requerida:</label>
                                                                            <div class="derecha">
                                                                              {% if alu.especialidadRequerida == None  %}
                                                                                   Ninguna Asignada
                                                                             
                                                                              {% else %}
                                                                                  {{alu.especialidadRequerida}}
                                                                              {% endif %}
                                                                            </div>
                                                                          </div>
                                                                          <div class="alinealoNomas">
                                                                              <label for="inputEmail3" class="izquierda">Nivel en la especialidad:</label>
                                                                              <div class="derecha">
                                                                                  {{alu.nivel}}  
                                                                              </div>
                                                                            </div>
                                                                          <div class="alinealoNomas">
                                                                              <label for="inputEmail3" class="izquierda" style="color: black;">TUTOR:</label>
                                                                              <div class="derecha">
                                                                                  
                                                                                  {%if alu.tutor%}
                                                                                  {{alu.tutor}}
                                                                                  <a href="#">mas</a>
                                                                                  {%else%} 
                                                                                  <p>No registrado / mayor de edad</p>
                                                                                  {%endif%}
                                                                              </div>
                                                                            </div>
                                                  
                                              </div>
                                              <div class="modal-footer">
                                                  
                                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                              </div>
                              
                                          </div>
                                      </div>
                                  </div>

                                  <div id="ere">
                            <a href="{% url 'gestionMusical:editar_alumno' alu.dni %}" class="btn btn-warning btn-icon-split">
                              
                                <span class="icon text-white-50">
                                      <i class="fas fa-paint-brush"></i>
                                </span>
                                
                                
                          
                          </a>
                              </div>
                              <div class="btn-group">
                                  {%if  perms.gestionMusical.es_director %}
                                <center>
                                  <button type="button" class="btn btn-danger btn-icon-split" data-toggle="modal" data-target=".bs-example-modal-lg2{{alu.dni}}">
                                      <div id="icon8">
                                    <i class="fas fa-trash"></i>
                                  </div>
                                  </button>
                                </center>
                                
                                  <div class="modal fade bs-example-modal-lg2{{alu.dni}}" id="myModal2{{alu.dni}}" tabindex="-1" role="dialog" aria-hidden="true">
                                      <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <h4 class="modal-title" id="myModalLabel{{alu.dni}}">Confirmacion de Eliminacion</h4>
                                                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                                                          </button>
                                                  
                                              </div>
                                              <div class="modal-body">
                                                  <h4>Esta seguro de Eliminar al Alumno {{alu.apellido}} {{alu.nombre}} ???</h4>
                                                  
                                              </div>
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                  <a href="{% url 'gestionMusical:eliminar_alumno' alu.dni %}">
                                                  <button type="button" class="btn btn-primary" >Confirmar Eliminacion</button>
                                                </a>
                                                </div>
                              
                                          </div>
                                      </div>
                                  </div>
                                  {%endif%}
                          </center>
                        
                          </td>
                        
                        </tr>
                        {%endif%}
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
        {%endblock contenidiPagina%}

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  {%block archivos%}
  <!-- Bootstrap core JavaScript-->
  <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'js/demo/datatables-demo.js'%}"></script>
  
  <script type="text/javascript" src="{% static 'js/prueba/datatables.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/prueba/buttons.html5.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/prueba/dataTables.buttons.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/prueba/jszip.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/prueba/pdfmake.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/prueba/vfs_fonts.js'%}"></script>



  
  <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Core plugin JavaScript-->
  

  <!-- Custom scripts for all pages-->
  <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

  <!-- Page level plugins -->
  

  
  {%endblock archivos%}
</body>

</html>