{%extends 'index.html'%}



{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{%block head%}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
  <link href="{%static 'css/multi-select.css'%}" type="text/css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>
{%endblock head%}
{%block estilos%}
<script type="text/javascript">
  function ocultarFiltro() {


    if (document.getElementById("contenedorFiltro").style.display == "none" || document.getElementById("contenedorFiltro").style.display == "") {
      document.getElementById("contenedorFiltro").style.display = 'block';
    }
    else {
      document.getElementById("contenedorFiltro").style.display = 'none';
    }

  }
</script>
<script>
  function cambioOcultarHistorico() {

    var v = document.getElementById("historicoClases").style.display;
    if (v == "none") {
      document.getElementById("historicoClases").style.display = "block";
    } else {
      document.getElementById("historicoClases").style.display = "none";
    }


  }

</script>
<style type="text/css">
  h6#fraseTable {
    display: inline-block;


  }

  a#fraseTableBoton {
    display: inline-block;
    float: right;



  }

  button#botonMas {
    display: inline-block;
    float: right;
    padding: 0;

    vertical-align: middle;
    height: 40px;
    width: 40px;

  }

  div.alinealoNomas {
    text-align: left;
  }

  p#msj {
    font-size: 17px;
  }

  div#elgrando {
    width: 400px;
  }

  label.izquierda {
    display: inline-block;
    margin-left: 5%;

  }

  div.derecha {
    display: inline-block;

    margin-left: 5%;


  }


  label.col-form-label {
    display: inline-block;

  }

  div#icon8 {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  div#espeNIvel2 {
    display: inline-block;
    margin-right: 2%;
    width: 20%;
  }

  div#historicoClases {
    display: none;
    background: rgba(201, 229, 255, 1);
    background: -moz-linear-gradient(45deg, rgba(201, 229, 255, 1) 0%, rgba(180, 180, 250, 1) 27%, rgba(150, 150, 255, 1) 61%, rgba(68, 68, 245, 1) 92%, rgba(6, 6, 196, 1) 99%, rgba(32, 124, 229, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(201, 229, 255, 1)), color-stop(27%, rgba(180, 180, 250, 1)), color-stop(61%, rgba(150, 150, 255, 1)), color-stop(92%, rgba(68, 68, 245, 1)), color-stop(99%, rgba(6, 6, 196, 1)), color-stop(100%, rgba(32, 124, 229, 1)));
    background: -webkit-linear-gradient(45deg, rgba(201, 229, 255, 1) 0%, rgba(180, 180, 250, 1) 27%, rgba(150, 150, 255, 1) 61%, rgba(68, 68, 245, 1) 92%, rgba(6, 6, 196, 1) 99%, rgba(32, 124, 229, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(201, 229, 255, 1) 0%, rgba(180, 180, 250, 1) 27%, rgba(150, 150, 255, 1) 61%, rgba(68, 68, 245, 1) 92%, rgba(6, 6, 196, 1) 99%, rgba(32, 124, 229, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(201, 229, 255, 1) 0%, rgba(180, 180, 250, 1) 27%, rgba(150, 150, 255, 1) 61%, rgba(68, 68, 245, 1) 92%, rgba(6, 6, 196, 1) 99%, rgba(32, 124, 229, 1) 100%);
    background: linear-gradient(45deg, rgba(201, 229, 255, 1) 0%, rgba(180, 180, 250, 1) 27%, rgba(150, 150, 255, 1) 61%, rgba(68, 68, 245, 1) 92%, rgba(6, 6, 196, 1) 99%, rgba(32, 124, 229, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9e5ff', endColorstr='#207ce5', GradientType=1);

    border-radius: 13px 0px 13px 13px;
    -moz-border-radius: 13px 0px 13px 13px;
    -webkit-border-radius: 13px 0px 13px 13px;
    border: orange 2px solid;
    height: auto;
    color: black;
    padding: 3%;
    margin-bottom: 2%;
  }

  div#contenedorFiltro {
    padding: 2%;
    display: none;
    background-color: antiquewhite;
  }

  div#contenedorFiltro {
    padding: 2%;
    display: none;
    background-color: rgb(219, 255, 252);
    border-radius: 23px 23px 23px 23px;
    -moz-border-radius: 23px 23px 23px 23px;
    -webkit-border-radius: 23px 23px 23px 23px;
    margin-bottom: 2%;
  }

  div#icon7 {

    width: 100px;
    height: 100px;
  }

  div#ere {

    margin-right: 2px;
    margin-left: 2px;
  }
</style>
{%endblock estilos%}


<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                      having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them
                      sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so
                      far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                      say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        {%block contenidiPagina%}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div id="cuadroMensajes">

            {% if messages %}
            {% for message in messages %}

            {% if message.tags == 'success'%}
            <ul class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p {% if message.tags %} class="{{ message.tags }}" {% endif %} id="msj"><strong>{{ message }}</strong>
              </p>
            </ul>
            {%endif%}
            {% if message.tags == 'error'%}
            <ul class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <p {% if message.tags %} class="{{ message.tags }}" {% endif %} id="msj"><strong>{{ message }}</strong>
              </p>
            </ul>
            {%endif%}

            {% endfor %}
            {% endif %}
          </div>

          <!-- Page Heading -->
          {%if  perms.gestionMusical.es_director %}
          <button onclick="cambioOcultarHistorico()" class="btn btn-warning btn-icon-split" style="float: right;"><span
              class="icon text-white-50">
              <i class="fas fa-table"></i>
            </span>
            <span class="text">Historico de Clases</span></button>
          <br>
          <div id="historicoClases">

            <div style=" height: auto;">

              <!--uuu787-->

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 id="fraseTable" class="m-0 font-weight-bold text-primary">Conjunto de clases historicas:
                  </h6>
                  <button type="button" id="botonMas" onclick="ocultarFiltro()" class="btn btn-info">
                    <div id="icon8">
                      <i class="fas fa-filter"></i>
                    </div>
                    <div id="fraseBoton"> </div>

                  </button>

                </div>


                <!--dvifiltro-->
                <div id="contenedorFiltro">
                  <h4>Filtrar por:</h4>

                  <div id="zonaMedia">



                    <div class="form-group" id="espeNIvel2">
                      <label for="inputAddress2" class="sub" style="color: black">Profesor a cargo:</label>

                      <div class="form-row">
                        <select id="accion1" class="selectpicker" data-live-search="true" name="especialidades">
                          <option value=''>---</option>
                          {%for pro in profesTodos%}

                          <option value='{{pro.dni}}'>{{pro.apellido}}, {{pro.nombre}}</option>


                          {%endfor%}



                        </select>
                      </div>
                    </div>



                    <div class="form-group" id="espeNIvel2">
                      <label for="inputAddress2" class="sub" style="color: black">Año de creacion:</label>

                      <div class="form-row">
                        <select id="accion" class="form-control" single>
                          <option value=''>---</option>



                        </select>
                      </div>
                    </div>


                    <div class="form-group" id="espeNIvel2">
                      <label for="inputAddress2" class="sub" style="color: black">Especialidad:</label>

                      <div class="form-row">
                        <select id="accion3" class="selectpicker" multiple data-live-search="true"
                          name="especialidades">



                          {%for espec in especialidadesTodas%}

                          <option value='{{espec.id}}'>{{espec.nombre}}</option>


                          {%endfor%}

                        </select>
                      </div>
                    </div>


                    <div class="form-group" id="espeNIvel2">
                      <label for="inputAddress2" class="sub" style="color: black">Nivel:</label>

                      <div class="form-row">
                        <select id="accion4" class="form-control" single>
                          <option value='' selected>---</option>

                          <option value='Principiante'>Principiante</option>
                          <option value='Medio'>Medio</option>
                          <option value='Avanzado'>Avanzado</option>

                        </select>
                      </div>
                    </div>





                  </div>

                  <h3>
                    <button class="btn btn-primary" onclick="updateTable()">Filtrar</button>
                  </h3>
                </div>




                <!--dvifiltro-->

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable775544" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th style="width: 10%;">#</th>
                          <th style="width: 30%;">Nombre de Clase</th>

                          <th style="width: 50%;">Ultimos Horarios</th>


                          <th style="width: 10%;">Acciones</th>

                        </tr>
                      </thead>

                      <tbody>
                        {% for clase in clasesHistoricas%}


                        <tr>
                          <td>{{clase.id}}</td>
                          <td>{{clase.nombre}}</td>


                          <td>{% for h in clase.horarios.all%}
                            <label>{{h}}</label><br>
                            {%endfor%}
                          </td>





                          <td>

                            <center>

                              <div class="btn-group">
                                <center>
                                  <div>
                                    <button type="button" onclick="updateModal('{{clase.id}}')" class="btn btn-primary"
                                      data-toggle="modal" data-target=".bs-example-modal-lg34ClasesHistoricas">

                                      <i class="fa fa-eye"></i>

                                    </button>
                                  </div>
                                </center>










                            </center>

                          </td>

                        </tr>

                        {%endfor%}
                      </tbody>
                    </table>
                    <!--modalUniversalHistoricoClasesInicio-->
                    <div class="modal fade bs-example-modal-lg34ClasesHistoricas" id="myModal34" tabindex="-1"
                      role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content" id="elgrando">
                          <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel34ClasesHistoricas">Datos de la Clase:</h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                            </button>

                          </div>
                          <div class="modal-body" id="cuerpoModal">
                            <div class="alinealoNomas">
                              <label for="inputEmail3" class="izquierda">ID: </label>
                              <div class="derecha" id="idModalHistorico1">
                                {{clase.id}}
                              </div>
                            </div>
                            <div class="alinealoNomas">
                              <label for="inputEmail3" class="izquierda">Nombre:</label>
                              <div class="derecha" id="idModalHistorico2">

                                {{clase.nombre}}
                              </div>
                            </div>
                            <div class="alinealoNomas">
                              <label for="inputEmail3" class="izquierda">Descripcion:</label>
                              <div class="derecha" id="idModalHistorico3">
                                {{clase.descripcion}}
                              </div>
                            </div>

                            <div class="alinealoNomas">
                              <label for="inputEmail3" class="izquierda">Fecha de Creacion:</label>
                              <div class="derecha" id="idModalHistorico4">
                                {{clase.creadaClase}}
                              </div>
                            </div>

                            <div class="alinealoNomas">
                              <label for="inputEmail3" class="izquierda">Ultimo Profesor a Cargo:</label>
                              <div class="derecha" id="idModalHistorico5">
                                {{clase.profesorCargo.apellido}} {{clase.profesorCargo.nombre}}
                              </div>
                            </div>

                            <div class="alinealoNomas">
                              <label for="inputEmail3" class="izquierda">Cantidad de asistencias
                                registradas:</label>
                              <div class="derecha" id="idModalHistorico6">


                                {{clase.cantidadAsistida}}


                              </div>
                            </div>

                            <div class="alinealoNomas">
                              <label for="inputEmail3" class="izquierda">Cupo:</label>
                              <div class="derecha" id="idModalHistorico7">
                                {{clase.cupo}}
                              </div>
                            </div>
                            <div class="alinealoNomas">
                              <label for="inputEmail3" class="izquierda">Nivel:</label>
                              <div class="derecha" id="idModalHistorico8">
                                {{clase.nivel}}
                              </div>
                            </div>
                            <div class="alinealoNomas">
                              <label for="inputEmail3" class="izquierda">Especialidades impartidas:</label>
                              <div class="derecha" id="idModalHistorico9">
                                {%for c in clase.especialidadesDar.all%}
                                {{c.nombre}} ;
                                {%endfor%}
                              </div>
                            </div>



                          </div>
                          <div class="modal-footer">

                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!--modalUniversalHistoricoClasesFin-->
                  </div>
                </div>
              </div>
              <!--uuu787 fin-->

            </div>
            <div style="border: black solid 2px; height: 400px;">estadictica con filtros</div>


          </div>
          {%endif%}
          <h1 class="h3 mb-2 text-gray-800">Clases</h1>
          {%if  perms.gestionMusical.es_director %}

          <p class="mb-4">En la siguiente tabla podra visualizar las clases que cuenta la institucion actualmente;
            editar o eliminar alguno. Ademas de insertar una nueva al sistema.</p>
          <p class="mb-4">Haga Click sobre el nombre de una para dirigirce a la misma </p>
          {%else%}
          {%if  perms.gestionMusical.es_profesor%}
          <p class="mb-4">En la siguiente tabla podra visualizar las clases que dicta en la institucion actualmente;
            editarla o visualizar la informacion correspondiente</p>
          <p class="mb-4">Haga Click sobre el nombre de una para dirigirce a la misma </p>
          {%else%}
          {%if  perms.gestionMusical.es_alumno%}
          <p class="mb-4">En la siguiente tabla podra visualizar las clases a las que asiste en la institucion
            actualmente. </p>
          <p class="mb-4">Haga Click sobre el nombre de una para dirigirce a la misma </p>
          {%endif%}
          {%endif%}
          {%endif%}
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 id="fraseTable" class="m-0 font-weight-bold text-primary">Conjunto de clases que cuenta actualmente:
              </h6>
              {%if  perms.gestionMusical.es_director %}
              <a id="fraseTableBoton" href="{% url 'gestionMusical:crear_clase'%}"
                class="btn btn-primary btn-icon-split">

                <span class="icon text-white-50">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="text">Añadir Clase</span>


              </a>
              {%endif%}
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable97" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre de Clase</th>

                      <th>Horarios</th>


                      <th>Acciones</th>

                    </tr>
                  </thead>

                  <tbody>
                    {% for clase in clases%}


                    <tr>
                      <td>{{clase.id}}</td>
                      {%if  perms.gestionMusical.es_director or perms.gestionMusical.es_profesor%}
                      <td><a href="{% url 'gestionMusical:una_clase' clase.id%}">{{clase.nombre}}</a></td>
                      {%else%}
                      {%if  perms.gestionMusical.es_alumno%}
                      <td><a href="{% url 'gestionMusical:ver_alumno_clase' 0 clase.id %}">{{clase.nombre}}</a></td>
                      {%endif%}

                      {%endif%}

                      <td>{% for h in clase.horarios.all%}
                        <label>{{h}}</label><br>
                        {%endfor%}
                      </td>





                      <td>

                        <center>

                          <div class="btn-group">
                            <center>
                              <div>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                  data-target=".bs-example-modal-lg768988{{clase.id}}">

                                  <i class="fa fa-eye"></i>

                                </button>
                              </div>
                            </center>
                            <!--fyl-->
                            <div class="modal fade bs-example-modal-lg768988{{clase.id}}" id="myModal{{clase.id}}"
                              tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content" id="elgrando">
                                  <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel{{clase.id}}">Datos Personales</h4>
                                    <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">×</span>
                                    </button>

                                  </div>
                                  <div class="modal-body" id="cuerpoModal{{clase.id}}">
                                    <div class="alinealoNomas">
                                      <label for="inputEmail3" class="izquierda">ID: </label>
                                      <div class="derecha">
                                        {{clase.id}}
                                      </div>
                                    </div>
                                    <div class="alinealoNomas">
                                      <label for="inputEmail3" class="izquierda">Nombre:</label>
                                      <div class="derecha">

                                        {{clase.nombre}}
                                      </div>
                                    </div>
                                    <div class="alinealoNomas">
                                      <label for="inputEmail3" class="izquierda">Descripcion:</label>
                                      <div class="derecha">
                                        {{clase.descripcion}}
                                      </div>
                                    </div>

                                    <div class="alinealoNomas">
                                      <label for="inputEmail3" class="izquierda">Profesor a Cargo:</label>
                                      <div class="derecha">
                                        {{clase.profesorCargo.apellido}} {{clase.profesorCargo.nombre}}
                                      </div>
                                    </div>
                                    <div class="alinealoNomas">
                                      <label for="inputEmail3" class="izquierda">Alumnos:</label>
                                      <div class="derecha">
                                        {%for a in clase.alumnoAsociados.all%}
                                        {{a.apellido}} {{a.nombre}};
                                        {%endfor%}

                                      </div>
                                      <div class="alinealoNomas">
                                        <label for="inputEmail3" class="izquierda">Cupo:</label>
                                        <div class="derecha">
                                          {{clase.cupo}}
                                        </div>
                                      </div>
                                      <div class="alinealoNomas">
                                        <label for="inputEmail3" class="izquierda">Nivel:</label>
                                        <div class="derecha">
                                          {{clase.nivel}}
                                        </div>
                                      </div>
                                      <div class="alinealoNomas">
                                        <label for="inputEmail3" class="izquierda">Especialidades:</label>
                                        <div class="derecha">
                                          {%for c in clase.especialidadesDar.all%}
                                          {{c.nombre}} ;
                                          {%endfor%}
                                        </div>
                                      </div>
                                    </div>


                                  </div>
                                  <div class="modal-footer">

                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <!--fyl-->

                            {%if  perms.gestionMusical.es_director or perms.gestionMusical.es_profesor%}
                            <a href="{% url 'gestionMusical:editar_clase' clase.id %}"
                              class="btn btn-warning btn-icon-split">

                              <span class="icon text-white-50">
                                <i class="fas fa-paint-brush"></i>
                              </span>

                            </a>
                            {%endif%}


                            {%if  perms.gestionMusical.es_director %}
                            <div class="btn-group">
                              <center>
                                <button type="button" class="btn btn-danger btn-icon-split" data-toggle="modal"
                                  data-target=".bs-example-modal-lg2{{clase.id}}">
                                  <div id="icon8">
                                    <i class="fas fa-trash"></i>
                                  </div>
                                </button>
                              </center>
                              <div class="modal fade bs-example-modal-lg2{{clase.id}}" id="myModal2{{clase.id}}"
                                tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title" id="myModalLabel{{clase.id}}">Confirmacion de Eliminacion
                                      </h4>
                                      <button type="button" class="close" data-dismiss="modal"><span
                                          aria-hidden="true">×</span>
                                      </button>

                                    </div>
                                    <div class="modal-body">
                                      <h4>Esta seguro de Eliminar la clase {{clase.nombre}} ???</h4>
                                      <h4>SE BORRARAN LAS ASISTENCIAS PERTENECIENTES A LA CLASE</h4>

                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      <a href="{% url 'gestionMusical:eliminar_clase' clase.id %}">
                                        <button type="button" class="btn btn-primary">Confirmar Eliminacion</button>
                                      </a>
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                            {%endif%}




                        </center>

                      </td>

                    </tr>

                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
        {%endblock contenidiPagina%}

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  {%block archivos%}
  <script>


    function updateModal(ida) {

      var idClase = parseInt(ida);



      $.ajax({
        url: '{% url "gestionMusical:grupo_ClaseHistorica" %}',
        data: {
          'idClase': idClase,
        },
        dataType: 'json',
        success: function (data) {


          document.getElementById("idModalHistorico1").innerHTML = data['id'];
          document.getElementById("idModalHistorico2").innerHTML = data['nombre'];
          document.getElementById("idModalHistorico3").innerHTML = data['descripcion'];

          document.getElementById("idModalHistorico4").innerHTML = data['creadaClase'];
          document.getElementById("idModalHistorico5").innerHTML = data['profesorCargo'];
          document.getElementById("idModalHistorico6").innerHTML = data['cantidadAsistida'];

          document.getElementById("idModalHistorico7").innerHTML = data['cupo'];
          document.getElementById("idModalHistorico8").innerHTML = data['nivel'];
          document.getElementById("idModalHistorico9").innerHTML = data['especialidadesDar'];
       


        }
      })


    };

    function updateTable() {
      console.log('cambio filtro');

      var table = $('#dataTable775544').DataTable();
      $('#dataTable775544').DataTable().clear();
      $('#dataTable775544').DataTable().draw();



      var profe = $("#accion1").val();
      var year = $("#accion").val();
      var especialidades = $("#accion3").val();
      var nivel = $("#accion4").val();
      console.log(especialidades);
      $.ajax({
        url: '{% url "gestionMusical:filtro_Table_Historico" %}',
        data: {
          'profe': profe,
          'year': year,
          'especialidades': especialidades,
          'nivel': nivel,
        },
        dataType: 'json',
        success: function (data) {
          var id = "";
          var nombre = "";
          var horarios = "";
          var horariosFinal = "";
          var acciones = "";

          var nid;
          var claseID = "0"
          console.log(data);
          console.log(data['info'].length);
          for (var i = 0; i < data['info'].length; i++) {


            id = data['info'][i]['id'];
            nombre = data['info'][i]['nombre'];
            horarios = data['info'][i]['horarios'];
            for (var k = 0; k < horarios.length; k++) {

              horariosFinal += "<label>" + horarios[k] + "</label><br>";

            }
            claseID = data['info'][i]['id'];
            c = " ' " + claseID + " ' ";
            cosa = 'onclick="updateModal(' + c + ')"';
            acciones = " <center><div class='btn-group'><center><div><button type='button' " + cosa + "  class='btn btn-primary' data-toggle='modal' data-target='.bs-example-modal-lg34ClasesHistoricas'> <i class='fa fa-eye'></i></button></div></center></center>";


            table.row.add([id, nombre, horariosFinal, acciones]).draw();

          }



          //$('#cuerpoT2').html(html);





        }
      })


    };



  </script>





  <script>


    var yearStart = 2000;
    var yearUpdate = parseInt(new Date().getFullYear());


    var select = document.getElementById("accion");



    for (i = yearStart; i <= yearUpdate; i++) {
      var option = document.createElement("option");
      option.text = i;
      option.value = i;
      select.appendChild(option);

    }




  </script>


  <!-- Bootstrap core JavaScript-->
  <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

  <!-- Page level plugins -->
  <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

  <!-- Page level custom scripts -->
  <script src="{%static 'js/demo/datatables-demo.js'%}"></script>
  <script src="{%static 'js/jquery.multi-select.js'%}"></script>
  <script src="{%static 'js/selectMul.js'%}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

  {%endblock archivos%}
</body>

</html>