
{%extends 'index.html'%}
{% load staticfiles %}
{%block contenidiPagina%}


<style type="text/css">
    div#contenedorTotal {
        width: 70%;
    }

    div#encabezadoColorado {
        border: 1px solid;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 4%;
        padding: 1%;
        border-radius: 18px 18px 0px 0px;
        -moz-border-radius: 18px 18px 0px 0px;
        -webkit-border-radius: 18px 18px 0px 0px;
        border: 2px solid #e3e6e3;
        background-color: rgb(255, 255, 255);
        font-size: 22px;
        color: rgb(255, 255, 255);
        border-bottom: 0px;

        background-color: #4e73df;
    }

    div#contenidoEditable {

        border: 1px solid;
        max-width: 100%;
        margin: 0 auto;

        padding: 2%;
        border-radius: 0px 0px 18px 18px;
        -moz-border-radius: 0px 0px 18px 18px;
        -webkit-border-radius: 0px 0px 18px 18px;
        border: 2px solid #e3e6e3;
        background-color: rgb(255, 255, 255);
    }

    div#contennedorTop {
        height: 30%;


    }

    div#foto {
        display: inline-block;
        width: 30%;

        vertical-align: top;
    }

    div#botonesTop {
        display: inline-block;
        width: 60%;

        text-align: left;
    }

    div.card-body {
        text-align: left;
    }

    .bootstrap-select>.dropdown-toggle.bs-placeholder,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
        color: #999;
        width: 230%;
    }

    button#b1 {
        display: block;
        margin: 1.2%;
    }

    button#b2 {
        display: block;
        margin: 1.2%;
    }

    button#b3 {
        display: block;
        margin: 1.2%;
    }

    button.bobo {
        background-color: #90e2ce;
        padding: 1.5%;
        margin-left: 3%;
        margin-right: 3%;
        border: 1px solid rgba(255, 182, 99, 0.295);
        border-radius: 31px 31px 31px 31px;
        -moz-border-radius: 31px 31px 31px 31px;
        -webkit-border-radius: 31px 31px 31px 31px;
    }

    select#country {
        display: inline-block;
        width: 80%;
    }

    button#b1c {
        font-size: 20px;
    }

    button#b2c {
        font-size: 20px;
    }
    p#msj{
    font-size: 17px;
}

    button#b3c {
        font-size: 20px;
    }
</style>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<div>
    <h1>Configuracion de Instituto:</h1>
    <center>
        <div id="contenedorTotal">
               
            <div id="encabezadoColorado">Datos Actuales/Editables</div>
            

            
            <div id="contenidoEditable">
                    <div id="cuadroMensajes" >

                            {% if messages %}
                            {% for message in messages %}
                      
                            {% if message.tags == 'success'%}
                            <ul class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %} id="msj"><strong>{{ message }}</strong></p>
                            </ul> 
                            {%endif%}
                            {% if message.tags == 'error'%}
                            <ul class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %} id="msj"><strong>{{ message }}</strong></p>
                            </ul> 
                            {%endif%}
                      
                            {% endfor %}
                           {% endif %}
                      </div>
                <div id="contennedorTop">
                        <div class="card-body">
                                <!---->
                               
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4" class="sub">Apellido</label>
                                        <input type="text" class="form-control" id="apellidoIn" placeholder="Apellido" value="{{individuo.apellido}}"
                                            required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4" class="sub">Nombre</label>
                                        <input type="text" class="form-control" id="nombreIn" placeholder="Nombre" value="{{individuo.nombre}}"
                                            required>
                                    </div>
                                </div>

                                <div class="form-row" name="tema1">
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4" class="sub">Telefono:</label>
                                        <input type="text" class="form-control" id="elTelefono" value="{{individuo.telefono}}"
                                            placeholder="Numero telefono" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4" class="sub">Sexo:</label>
                                        <select name="sexo" id="id_sexo" class="form-control" required>
                                                {% if individuo.sexo == "Femenino" %}

                                                <option >Masculino</option>
                                                <option selected>Femenino</option>
                                                {%else%}
                  
                                                  <option selected>Masculino</option>
                                                  <option>Femenino</option>
                                                  {%endif%}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row" name="tema1">
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4" class="sub">Telefono:</label>
                                            <input type="text" class="form-control" id="elTelefono" value="{{individuo.telefono}}"
                                                placeholder="Numero telefono" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4" class="sub">Sexo:</label>
                                            <select name="sexo" id="id_sexo" class="form-control" required>
                                                    {% if individuo.sexo == "Femenino" %}
    
                                                    <option >Masculino</option>
                                                    <option selected>Femenino</option>
                                                    {%else%}
                      
                                                      <option selected>Masculino</option>
                                                      <option>Femenino</option>
                                                      {%endif%}
                                            </select>
                                        </div>
                                    </div>
                                
                                <div class="botonZona">
                                        <button id="GuardarEdicion" class="btn btn-primary">Guardar</button>
                                </div>
                                <!---->
                            </div>



                </div>

                


                <br>
                

<!--pr-->
<div class="modal fade bs-example-modal-lg787" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar Nueva Musica</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="limpiar()"><span
                        aria-hidden="true">×</span>
                </button>

            </div>



            <div id="modalOculto">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formGroupExampleInput" style="color: black">Nombre de Tipo de Musica:</label>
                        <input type="text" class="form-control" id="id_nombreTipo" style="text-transform:uppercase;"
                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                            placeholder="Nombre o Identificacion de Musica...">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        onclick="limpiar()">Close</button>

                    <button type="button" class="btn btn-primary" id="cargar-musica"
                        onclick="cargaMusic()">Cargar</button>

                </div>
            </div>

        </div>
    </div>
</div>
<!--pp-->

<script>
        $(document).ready(function () {
            $("#GuardarUser").click(function () {
                var apellido = $("#apellidoIn").val();
                var nombre = $("#nombreIn").val();
                var telefono = $("#elTelefono").val();
                var sexo = $("#id_sexo").val();

                if (apellido == "" || nombre == "" || telefono == "" || sexo == "") {
                    alert("Complete todos los campos");
                }else{
                $.ajax({

                    url: '{% url "gestionMusical:editar_individuo" %}',
                    data: {
                        'apellido': apellido,
                        'nombre': nombre,
                        'telefono': telefono,
                        'sexo': sexo
                    },
                    dataType: 'json',

                    success: function (data) {

                        if (data.is_taken) {
                            alert("Error al editar");
                        } else {

                            location.reload(true);
                        }
                    }
                });}

            });
           
            $("#GuardarAddProfe").click(function () {
                var espepro = $("#espepro").val();
                var historia = $("#id_historiaPrevia").val();
                

                if (espepro == "" || historia == "" ) {
                    alert("Complete todos los campos");
                }else{
                $.ajax({

                    url: '{% url "gestionMusical:editar_individuoPro" %}',
                    data: {
                        'espepro': espepro,
                        'historia': historia
                    },
                    dataType: 'json',

                    success: function (data) {

                        if (data.is_taken) {
                            alert("Error al editar");
                        } else {

                            location.reload(true);
                        }
                    }
                });}

            });
            $("#GuardarAddAlu").click(function () {
                var country = $("#country").val();
                var espealu = $("#espealu").val();
                var id_especialidadnivel = $("#id_especialidadnivel").val();
                

                if ( country == "" || telefono == "" || sexo == "") {
                    alert("Complete todos los campos");
                }else{
                $.ajax({

                    url: '{% url "gestionMusical:editar_individuoAlu" %}',
                    data: {
                        'country': country,
                        'espealu': espealu,                    
                        'id_especialidadnivel': id_especialidadnivel
                    },
                    dataType: 'json',

                    success: function (data) {

                        if (data.is_taken) {
                            alert("Error al editar");
                        } else {

                            location.reload(true);
                        }
                    }
                });}

            });
        });
        function limpiar(){

document.getElementById("id_nombreTipo").value = "";
};
        function cargaMusic(){
    
    var nombre = document.getElementById("id_nombreTipo").value;
    var noExiste = true;
    var username = nombre;
    $.ajax({
            
            url: '{% url "gestionMusical:validate_username_tipoMusica" %}',
            data: {
              'username': username
            },
            dataType: 'json',
            
            success: function (data) {
                
              if (data.is_taken) {
                
                alert("ese nombre ya existe");
              }else{

                if (nombre != "" ){
                    optionExtra = "";
                    
                    
                    limpiar();
                    
                    $('#myModal2').modal('hide'); 
                    
                    
                    //cambiar valor al finalizar formulario, de nada al nombre del select
                    optionExtra += "<option value='"+nombre +"' selected>"  +nombre+ "</option>";
                    
                        $("#country").append(optionExtra);

                        $("#country").val(nombre).change();
                    

                    
                                    
            }else{
                alert("Escriba un nombre nuevo, sino simplemente seleccionelo de la lista: ");
            }
              }
            }
          });
    

}
    </script>

{% endblock contenidiPagina %}