{%extends 'index.html'%}
{% load staticfiles %}
{%block contenidiPagina%}


<style type="text/css">
    div#contenedorTotal {
        width: 70%;
    }

    div#encabezadoColorado {
        border: 1px solid;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 4%;
        padding: 1%;
        border-radius: 18px 18px 0px 0px;
        -moz-border-radius: 18px 18px 0px 0px;
        -webkit-border-radius: 18px 18px 0px 0px;
        border: 2px solid #e3e6e3;
        background-color: rgb(255, 255, 255);
        font-size: 22px;
        color: rgb(255, 255, 255);
        border-bottom: 0px;

        background-color: #4e73df;
    }

    div#contenidoEditable {

        border: 1px solid;
        max-width: 100%;
        margin: 0 auto;

        padding: 2%;
        border-radius: 0px 0px 18px 18px;
        -moz-border-radius: 0px 0px 18px 18px;
        -webkit-border-radius: 0px 0px 18px 18px;
        border: 2px solid #e3e6e3;
        background-color: rgb(255, 255, 255);
    }

    div#contennedorTop {
        height: 30%;


    }

    div#foto {
        display: inline-block;
        width: 30%;

        vertical-align: top;
    }

    div#botonesTop {
        display: inline-block;
        width: 60%;

        text-align: left;
    }

    div.card-body {
        text-align: left;
    }

    .bootstrap-select>.dropdown-toggle.bs-placeholder,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
        color: #999;
        width: 230%;
    }

    button#b1 {
        display: block;
        margin: 1.2%;
    }

    button#b2 {
        display: block;
        margin: 1.2%;
    }

    button#b3 {
        display: block;
        margin: 1.2%;
    }

    button.bobo {
        background-color: #90e2ce;
        padding: 1.5%;
        margin-left: 3%;
        margin-right: 3%;
        border: 1px solid rgba(255, 182, 99, 0.295);
        border-radius: 31px 31px 31px 31px;
        -moz-border-radius: 31px 31px 31px 31px;
        -webkit-border-radius: 31px 31px 31px 31px;
    }

    select#country {
        display: inline-block;
        width: 80%;
    }

    button#b1c {
        font-size: 20px;
    }

    button#b2c {
        font-size: 20px;
    }

    p#msj {
        font-size: 17px;
    }

    button#b3c {
        font-size: 20px;
    }
</style>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<div>
    <h1>Configuracion de Instituto:</h1>
    <center>
        <div id="contenedorTotal">

            <div id="encabezadoColorado">Datos Configurables:</div>



            <div id="contenidoEditable">
                <div id="cuadroMensajes">

                    {% if messages %}
                    {% for message in messages %}

                    {% if message.tags == 'success'%}
                    <ul class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %} id="msj">
                            <strong>{{ message }}</strong></p>
                    </ul>
                    {%endif%}
                    {% if message.tags == 'error'%}
                    <ul class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %} id="msj">
                            <strong>{{ message }}</strong></p>
                    </ul>
                    {%endif%}

                    {% endfor %}
                    {% endif %}
                </div>
                <div id="contennedorTop">
                    <!--un cont-->

                    <!--un cont-->
                    <div class="accordion" id="accordionExample">
                        <!--dd-->
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#datosAgregarTarea" id="b1c" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        Tipos de Tareas Asignables
                                    </button>
                                </h2>
                            </div>


                            <div id="datosAgregarTarea" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body" style="color: black;">
                                    <!---->

                                    <div class="form-row" style="margin-left: 2%;">
                                        <label><strong>Nombre: </strong> </label>
                                        <input type="text" class="form-control" placeholder="Nombre para la tarea..."
                                            style="width: 30%;" id="inputRecoCrear2">
                                    </div>
                                    <br>




                                    <div class="botonZona">
                                        <button id="GuardarAgragarTarea" class="btn btn-primary">Guardar</button>
                                    </div>
                                    <!---->
                                </div>
                            </div>




                        </div>
                        <!--dd-->
                        <!--dd-->
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#datosAgregar2" id="b1c" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        Tipos de Tareas Asignables
                                    </button>
                                </h2>
                            </div>


                            <div id="datosAgregar2" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body" style="color: black;">
                                    <!---->

                                    <div class="form-row" style="margin-left: 2%;">
                                        <label><strong>Nombre: </strong> </label>
                                        
                                    </div>
                                    <br>




                                    <div class="botonZona">
                                        <button id="GuardarAgragar2" class="btn btn-primary">Guardar</button>
                                    </div>
                                    <!---->
                                </div>
                            </div>




                        </div>
                        <!--dd-->
                    </div>



                </div>




                <br>


                <!--pr-->
                <div class="modal fade bs-example-modal-lg787" id="myModal2" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content" id="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Agregar Nueva Musica</h4>
                                <button type="button" class="close" data-dismiss="modal" onclick="limpiar()"><span
                                        aria-hidden="true">×</span>
                                </button>

                            </div>



                            <div id="modalOculto">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="formGroupExampleInput" style="color: black">Nombre de Tipo de
                                            Musica:</label>
                                        <input type="text" class="form-control" id="id_nombreTipo"
                                            style="text-transform:uppercase;"
                                            onkeyup="javascript:this.value=this.value.toUpperCase();"
                                            placeholder="Nombre o Identificacion de Musica...">
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                        onclick="limpiar()">Close</button>

                                    <button type="button" class="btn btn-primary" id="cargar-musica"
                                        onclick="cargaMusic()">Cargar</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--pp-->

                <script>
                    $(document).ready(function () {
                       




                        $("#GuardarAgragarTarea").click(function () {
                     
                            var nombre = $("#inputRecoCrear2").val();
                           

                            if ( nombre == "" ) {
                                alert("Complete el campo");
                            } else {

                               
                                    $.ajax({

                                        url: '{% url "gestionMusical:agregar_tipo_tarea" %}',
                                        data: {
                                            
                                            'nombre': nombre
                                        },
                                        dataType: 'json',

                                        success: function (data) {

                                            if (data.is_taken) {
                                                alert("Error, ese nombre ya esta cargado");
                                                document.getElementById("inputRecoCrear2").value = "";
                                            }else{
                                                location.reload();
                                            }
                                        }
                                        });
                                

                               





                            }

                        });











                       
                    });
                    
                    
                </script>

                {% endblock contenidiPagina %}