{%extends 'index.html'%}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{%block head%}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Tables</title>

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>
{%endblock head%}
{%block scrip%}
<script type="text/javascript">
  function mostrar_ocultar(){
    
      
      if(document.getElementById("zonaFiltro").style.display == "none" || document.getElementById("zonaFiltro").style.display == "" ){
          document.getElementById("zonaFiltro").style.display='block';
      }
      else{
              document.getElementById("zonaFiltro").style.display='none';
          }
  
  }
  function lola(){
      //alert(document.getElementById("defaultCheckFiltro").checked);
      if(document.getElementById("defaultCheckFiltro").checked ){
          document.getElementById("textFiltro").style.display='inline-block';
          
      }
      else{
              document.getElementById("textFiltro").style.display='none';
              
          }

  }
  
  </script>
{%endblock scrip%}



{%block estilos%}
    <style type="text/css">
        h6#fraseTable{
            display: inline-block;
            

        }
        a#fraseTableBoton{
              display: inline-block;
              float: right;
             
              

        }
        div#zonaFiltro{
          height: 10%;
          background-color: rgb(255, 255, 255);
        }
        div.delete{

          margin-top: 10px;
        }
        body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
button#botonFiltro{
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 2px solid #dad7d7;
background-color: rgb(165, 235, 212);
}
div#contenedor{

  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 2px solid #bdbaba;
background-color: rgba(255, 251, 235, 0.877);
height: auto;
}
div#textFiltro{
  display: inline-block;
  
  width: 70%;
  height: auto;
  display: none;
}
div#opcionFiltro{
  display: inline-block;
  
  width: 29%;
  height: auto;
}
input#fecha1{
  display: inline-block;
  width: auto;
}
input#fecha2{
  display: inline-block;
  width: auto;
}
input#fecha3{
  display: inline-block;
  width: auto;
}
input#fecha4{
  display: inline-block;
  width: auto;
}
div#elCheck{
  margin-bottom: 10%;
  text-align: center;
}
div#zonaFiltro{
  display: none;
}



    </style>
{%endblock estilos%}


<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
     

        {%block contenidiPagina%}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Especialidades</h1>
          <p class="mb-4">En la siguiente tabla podra visualizar las especialidades que cuenta la institucion actualmente; editar o eliminar alguna. Ademas de insertar una nueva al sistema.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 id="fraseTable" class="m-0 font-weight-bold text-primary">Conjunto de especialidades que cuenta actualmente:</h6>
              
              
                <button id="botonFiltro" onclick="mostrar_ocultar()"> 
                    <i class="fas fa-filter"></i>
                </button>
              

              <a id="fraseTableBoton" href="{% url 'gestionMusical:crear_especialidad'%}" class="btn btn-primary btn-icon-split">
                              
                                    <span class="icon text-white-50">
                                          <i class="fas fa-plus"></i>
                                    </span>
                                    <span class="text">Añadir Especialidad</span>
                                    
                              
                              </a>
            </div>
            <form class="user"  method="POST">
                {% csrf_token %}
          <div id="zonaFiltro">
            <div id="contenedor">
              <div id="textFiltro">
                <p>Fecha de Creacion</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="exampleRadios1" value="11" checked>
                    <label class="form-check-label" for="exampleRadios1" style="display: inline-block">
                      Anterior a:
                    </label>
                      
                    <input type="date" id="fecha1"  class="form-control" name="fecha1" value="2019-07-22" >
    
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radio" id="exampleRadios2" value="22">
                    <label class="form-check-label" for="exampleRadios2">
                      Posterior a:
                    </label>
                    <input type="date" id="fecha2"  class="form-control" name="fecha2" value="2019-07-22" >
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="radio" id="exampleRadios3" value="33">
                      <label class="form-check-label" for="exampleRadios3">
                        Entre:
                      </label>
                      <input type="date" id="fecha3"  class="form-control" name="fecha3" value="2019-07-22" >
                      y
                      <input type="date" id="fecha4"  class="form-control" name="fecha4" value="2019-07-22" >
                  </div>
              </div>
              <div id="opcionFiltro">
                  <div class="form-check" id="elCheck">
                      <input class="form-check-input" name="filtrdo" type="checkbox" value="filtro" id="defaultCheckFiltro" onclick="lola()">
                      <label class="form-check-label" for="defaultCheck1">
                        Con Filtro
                      </label>
                    </div>
                <a href="#" >
                    <button type="submit" class="btn btn-dark">Generar Reporte</button>
                </a>
              </div>
            </div>
          </div>
        </form>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Descripcion</th>
                      <th>Fecha Creacion</th>
                      <th>Acciones</th>
                      
                    </tr>
                  </thead>
                  
                  <tbody>
                    {% for especialidad in especialidades%}
                      
                        <tr>
                          <td>{{especialidad.id}}</td>
                          <td>{{especialidad.nombre}}</td>
                          <td>{{especialidad.descripcion}}</td>
                          <td>{{especialidad.fechaCreacion}}</td>
                          <td>
                          <center>
                              <div id="ere">
                              <a href="{% url 'gestionMusical:editar_especialidad' especialidad.id %}" class="btn btn-warning btn-icon-split">
                              
                                    <span class="icon text-white-50">
                                          <i class="fas fa-paint-brush"></i>
                                    </span>
                                    <span class="text">Editar</span>
                                    
                              
                              </a>
                            </div>

                              
                                
                                <div class="delete">
                              
                          <button class="btn btn-danger btn-icon-split" id="elBotonBorra">
                                    <span class="icon text-white-50">
                                          <i class="fas fa-trash"></i>
                                         
                                    </span>
                                    <span class="text">Eliminar</span>
                                  </button>
                              
                            </div>
                          </center>
                          </td>
                        
                        </tr>
                        
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
        {%endblock contenidiPagina%}

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  {%block archivos%}
  <!-- Bootstrap core JavaScript-->
  <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

  <!-- Page level plugins -->
  <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

  <!-- Page level custom scripts -->
  <script src="{%static 'js/demo/datatables-demo.js'%}"></script>
  <script src="{%static 'js/sweetalert2.all.min.js'%}"></script>
  <script src="{%static 'js/alertas.js'%}"></script>
  {%endblock archivos%}
</body>

</html>
