{%extends 'index.html'%}

{% load staticfiles %}

{%block contenidiPagina%}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspdf@1.5.3/dist/jspdf.min.js"></script>
<script>
    window.onload = function () {

        
     var chart =   new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: ["Enero", "Febrero", "Marzo", "Abril","Mayo", "Junio", "Julio", "Agosto","Septiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets: [
        {
          label: "Pre-Inscriptos",
          backgroundColor: "#3e95cd",
          data: [parseInt("{{preEnero}}"),parseInt("{{preFebrero}}"),parseInt("{{preMarzo}}"),parseInt("{{preAbril}}"),parseInt("{{preMayo}}"),parseInt("{{preJunio}}"),parseInt("{{preJulio}}"),parseInt("{{preAgosto}}"),parseInt("{{preSeptiembre}}"),parseInt("{{preOctubre}}"),parseInt("{{preNoviembre}}"),parseInt("{{preDiciembre}}")]
        }, {
          label: "Inscriptos",
          backgroundColor: "#8e5ea2",
          data: [parseInt("{{Enero}}"),parseInt("{{Febrero}}"),parseInt("{{Marzo}}"),parseInt("{{Abril}}"),parseInt("{{Mayo}}"),parseInt("{{Junio}}"),parseInt("{{Julio}}"),parseInt("{{Agosto}}"),parseInt("{{Septiembre}}"),parseInt("{{Octubre}}"),parseInt("{{Noviembre}}"),parseInt("{{Diciembre}}")]
        }
      ]
    },
    options: {
      title: {
        display: true,
        position:'top',
        text: "Comparación Alumnos: Pre-Inscriptos/Inscriptos ",
        fontSize: 18
      }, scales: {
            yAxes: [{
                scaleLabel:{
                    display: true,
                    
                    labelString: "Cantidad de Alumnos",
                    fontSize: 20
                },
               
                   
     
                
            }],
            xAxes: [{
                scaleLabel:{
                    display: true,
                    
                    labelString: "Meses",
                    fontSize: 18
                },
               
                   
     
                
            }]


        }
    }
});
        chart.render();

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }

    }
</script>

<script type="text/javascript">
    function ocultarFiltro() {


        if (document.getElementById("colapser1").style.display == "none" || document.getElementById("colapser1").style.display == "") {
            document.getElementById("colapser1").style.display = 'inline-block';

        }
        else {
            document.getElementById("colapser1").style.display = 'none';
        }

    }
    function ocultarFiltro2() {


        if (document.getElementById("colapser2").style.display == "none" || document.getElementById("colapser2").style.display == "") {
            document.getElementById("colapser2").style.display = 'inline-block';

        }
        else {
            document.getElementById("colapser2").style.display = 'none';
        }

    }
    function imprimirEsto(){
        print();
    }
</script>
<style type="text/css">
    div#colapser1 {

        display: none;
    }

    div#colapser2 {

        display: none;
    }

    div.colap {
        margin-bottom: 5%;
    }

    path.highcharts-button-symbol {
        display: none;
    }
    label#tyutyu2{
        display: inline-block;
    }
    input#tyutyu{
        display: inline-block;
        width: 20%;
    }
</style>

<!--colapcer1-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<div class="colap">
    <div>
        <h1 class="h3 mb-2 text-gray-800">Gráfico Comparativo de Pre-inscripción/Inscripción</h1>
        <p class="mb-4">Se presentan la cantidad de alumnos inscritos y pre-inscriptos mensualmente del ciclo anual.</p>
        <input type="hidden" id="filtroUno" value="{{filtroUno}}">
        <input type="hidden" id="inputOculto33" value="{{pedidor}}">
        {%if filtroUno != ""%}
        <label>{{filtroUno}}</label>
        <hr>
        {%endif%}

        <div style="margin-left: 10%; margin-right: 10%;">
            <div style="display: inline-block;" >
                <form class="user" method="POST">
                        {% csrf_token %}
            <label for=""  id="tyutyu2">Filtrar por año: </label>
            <input class="form-control" style="width: 30%;" id="tyutyu" name="number"  type="number" value="{{num}}" min="2000" max="2100" required>
            <button class="btn btn-primary" type="submit">Filtrar</button>
                </form>
            </div>
                <button class="btn btn-info" id="botonImprimir" style="float: right;"> <i class="fa fa-print"></i></button>
        </div>

        
<script>
  document.querySelector("input[type=number]")
  .oninput = e => console.log(new Date(e.target.valueAsNumber, 0, 1))
</script>
    </div>
    <div >
        <!--

        <div id="chartContainer" style="height: 400px; width: 100%;"></div>

<br>
        -->
        <br>
        <center>
        <div style="padding: 2%; width: 80%; height: 80%;" class="card shadow">
            <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
        </div>
    </center>
       
    </div>
</div>
<!--Fincolapcer1-->






<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
    $('#botonImprimir').on('click', function() {

var canvas = document.querySelector("#bar-chart-grouped");
 
//Escoje la calidad de la imagen segun el navegador supuestamente, la verdad no veo diferencia xd
var v = 0
var url = canvas.toDataURL('image/jpeg')
for(var i = 0; i < 100; i++ ){

    v += 0.01;
    x = parseFloat((v).toFixed(2))
    var test = canvas.toDataURL('image/jpeg', x);

    if(test == url){
        console.log('The default value is: ' + x);
    }
}
var canvasImg = canvas.toDataURL("image/png", x); //JPEG will not match background color
//creates PDF from img
var doc = new jsPDF('portrait');

//Seccion Titulo/Encabezado
var logo = '{{textoImagen}}';
doc.addImage(logo, 'PNG', 10, 10, 30, 15)                                                                                                                                                                                                                                                               
doc.setFont('helvetica')
doc.setFontType('bold')
doc.setFontSize(16);        
doc.text(70, 28, "Reporte de estadística");
doc.setFontType('normal')
doc.setFontSize(8);
var generado_por = "Admin"
var hoy = new Date();
var dd = hoy.getDate();
 var mm = hoy.getMonth()+1;
 var yyyy = hoy.getFullYear();
 
if(dd<10) {
dd='0'+dd;
} 

if(mm<10) {
mm='0'+mm;
} 
var fecha_hoy = dd+"/"+mm+"/"+yyyy;
var filtro_user= "filtrado por teves"
var filtro_fecha = $('#daterangepicker').val()
var pk_user_actual = 325

if(pk_user_actual == filtro_user){
    filtro_user = generado_por;
}else{
    filtro_user= $('#filter_user option:selected').text()
}

if(filtro_fecha == ''){
    filtro_fecha = '-'
}
var pprrt = document.getElementById('inputOculto33').value;
doc.text(145, 10, "Generado por: " + pprrt);

doc.setFontType('bold')
doc.setFontType('normal')

doc.setFontSize(12);

var stryui = document.getElementById('filtroUno').value;
if(stryui != ""){
 doc.text(15, 40, stryui);
}


doc.setFontSize(8);





//FOOTER
doc.text(20, 285, "Generado el " + fecha_hoy);
doc.text(155, 285, "Página 1 de 1");

doc.setLineWidth(0.2)
doc.line(10, 30, 200, 30)

//Seccion Chart
doc.addImage(canvasImg, 'PNG', 30, 50, 135, 90 );

 


/**    doc.autoTable({
head: [['Name', 'Email', 'Country']],
body: [
['David', 'david@example.com', 'Sweden'],
['Castille', 'castille@example.com', 'Norway'],
// ...
],
});**/


/**var sourceZe = $('#tablaUno')[0];
doc.fromHTML(sourceZe,30,150,  {// y coord
                 'width': 50, // max width of content on PDF
                 
             });**/

doc.save('canvas.pdf');

});
</script>

{% endblock contenidiPagina %}