{%extends 'index.html'%}

{% load staticfiles %}

{%block contenidiPagina%}








{%block archivos2%}


<script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>

<script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    



<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://cdn.jsdelivr.net/npm/jspdf@1.5.3/dist/jspdf.min.js"></script>



{%endblock archivos2%}
<style type="text/css">
    div#colapser1 {

        display: none;
    }

    div#colapser2 {

        display: none;
    }

    div.colap {
        margin-bottom: 5%;
    }

    path.highcharts-button-symbol {
        display: none;
    }

    label#tyutyu2 {
        display: inline-block;
    }

    input#tyutyu {
        display: inline-block;
        width: 20%;
    }
</style>



<div class="colap">
    <div>
        <h1 class="h3 mb-2 text-gray-800">Gráfico comparativo de alumnos </h1>
        <p class="mb-4">Se presentan la cantidad de alumnos totales del instituto, hombres y mujeres, según rango de
            edades.</p>

            <input type="hidden" id="filtroUno" value="{{filtroUno}}">
          
            <input type="hidden" id="inputOculto33" value="{{pedidor}}">
            {%if filtroUno != ""%}
            <label>{{filtroUno}}</label>
            <hr>
            {%endif%}

        
            <div style="margin-left: 10%; margin-right: 10%;">
        <div style="display: inline-block;">
            <form class="user" method="POST" style="width: 150%;">
                {% csrf_token %}
                
                <label for="" id="tyutyu2">Filtrar por fecha de ingreso: </label>
<!--
                <input class="form-control" style="width: 30%;" id="tyutyu" name="number" placeholder="----"
                    type="number" min="2000" max="2100">-->
                    <input class="form-control" style="display: inline-block; width: 35%;" type="text" name="daterange" id="daterangepic" value="01/01/2020 - 01/10/2020" />
                <button style="display: inline-block;" class="btn btn-primary" type="submit">Filtrar</button>
            </form>
        </div>
        <button class="btn btn-info" id="botonImprimir" style="float: right;"> <i
                class="fa fa-print"></i></button>
            </div>
       <br>
    </div>
    <div>
        <!--

        <div id="container" style="min-width: 310px; max-width: 800px; height:600px; margin: 0 auto"></div>


        -->
        <center>
            <div style="padding: 4%; width: 80%;height: 80%;" class="card shadow">
                <canvas id="myChart"></canvas>
            </div>
        </center>

    </div>
</div>
<!--Fincolapcer2-->






<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    var data = {
        labels: ['75 +', '70-74', '65-69', '60-64', '55-59', '50-54', '45-49', '40-44', '35-39', '30-34', '25-29', '20-24', '15-19', '10-14', '5-9'


        ],
        datasets: [{
            label: "Hombres",
            backgroundColor: "rgba(54, 162, 235, 0.2)",
            borderColor: "rgb(54, 162, 235)",
            borderWidth: 2,
            data: [parseInt(-"{{p15h}}"), parseInt(-"{{p14h}}"), parseInt(-"{{p13h}}"), parseInt(-"{{p12h}}"), parseInt(-"{{p11h}}"), parseInt(-"{{p10h}}"), parseInt(-"{{p9h}}"), parseInt(-"{{p8h}}"), parseInt(-"{{p7h}}"), parseInt(-"{{p6h}}"), parseInt(-"{{p5h}}"), parseInt(-"{{p4h}}"), parseInt(-"{{p3h}}"), parseInt(-"{{p2h}}"),
            parseInt(-"{{p1h}}")


            ],
        }, {
            label: "Mujeres",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 2,
            data: [parseInt("{{p15m}}"), parseInt("{{p14m}}"), parseInt("{{p13m}}"), parseInt("{{p12m}}"), parseInt("{{p11m}}"), parseInt("{{p10m}}"), parseInt("{{p9m}}"), parseInt("{{p8m}}"), parseInt("{{p7m}}"), parseInt("{{p6m}}"), parseInt("{{p5m}}"), parseInt("{{p4m}}"), parseInt("{{p3m}}"), parseInt("{{p2m}}"),
            parseInt("{{p1m}}")


            ],
        }


        ],

    };

    var myBarChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: data,
        options: {


            title: {
                display: true,
                position: 'top',
             
                text: 'Total de Alumnos Inscriptos en el Instituto',
                

                fontSize: 22
            },

            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,

                        labelString: "Edades en Años",
                        fontSize: 20
                    },
                    stacked: true
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,

                        labelString: "Cantidad de Alumnos",
                        fontSize: 20
                    },
                    ticks: {
                        callback: function (value, index, values) {
                            return Math.abs(value);
                        }
                    }
                }]
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItems, data) {
                        return data.datasets[tooltipItems.datasetIndex].label + ": " + Math.abs(tooltipItems.xLabel);
                    }
                }
            }
        }
    });

    
   



    // Data gathered from http://populationpyramid.net/germany/2015/

    // Age categories
    var categories = [
        '5-9', '10-14', '15-19',
        '20-24', '25-29', '30-34', '35-39', '40-44',
        '45-49', '50-54', '55-59', '60-64', '65-69',
        '70-74', '75 +'
    ];

    


</script>

{%if filtro != 0%}
<script>
     myBarChart.options.title.text = "Alumnos inscriptos entre "+"{{fechaUno}}" + " y "+"{{fechaDos}}";
</script>


{%endif%}

<script>


    $(function() {
      $('#daterangepic').daterangepicker({
        "locale": {
    "format": "DD/MM/YYYY",
    "separator": " - ",
    "applyLabel": "Aplicar",
    "cancelLabel": "Cancelar",
    "fromLabel": "Desde",
    "toLabel": "Hasta",
    "customRangeLabel": "Custom",
    "daysOfWeek": [
        "Dom",
        "Lun",
        "Mar",
        "Mie",
        "Jue",
        "Vie",
        "Sáb"
    ],
    "monthNames": [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
    ],
    "firstDay": 0
},
        opens: 'left'
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });

</script>

<script>

$('#botonImprimir').on('click', function() {

var canvas = document.querySelector("#myChart");
 
//Escoje la calidad de la imagen segun el navegador supuestamente, la verdad no veo diferencia xd
var v = 0
var url = canvas.toDataURL('image/jpeg')
for(var i = 0; i < 100; i++ ){

    v += 0.01;
    x = parseFloat((v).toFixed(2))
    var test = canvas.toDataURL('image/jpeg', x);

    if(test == url){
        console.log('The default value is: ' + x);
    }
}
var canvasImg = canvas.toDataURL("image/png", x); //JPEG will not match background color
//creates PDF from img
var doc = new jsPDF('portrait');

//Seccion Titulo/Encabezado
var logo = '{{textoImagen}}';
doc.addImage(logo, 'PNG', 10, 10, 30, 15)                                                                                                                                                                                                                                                               
doc.setFont('helvetica')
doc.setFontType('bold')
doc.setFontSize(16);        
doc.text(70, 28, "Reporte de estadística");
doc.setFontType('normal')
doc.setFontSize(8);
var generado_por = "Admin"
var hoy = new Date();
var dd = hoy.getDate();
 var mm = hoy.getMonth()+1;
 var yyyy = hoy.getFullYear();
 
if(dd<10) {
dd='0'+dd;
} 

if(mm<10) {
mm='0'+mm;
} 
var fecha_hoy = dd+"/"+mm+"/"+yyyy;
var filtro_user= "filtrado por teves"
var filtro_fecha = $('#daterangepicker').val()
var pk_user_actual = 325

if(pk_user_actual == filtro_user){
    filtro_user = generado_por;
}else{
    filtro_user= $('#filter_user option:selected').text()
}

if(filtro_fecha == ''){
    filtro_fecha = '-'
}
var pprrt = document.getElementById('inputOculto33').value;
doc.text(145, 10, "Generado por: " + pprrt);

doc.setFontType('bold')
doc.setFontType('normal')

doc.setFontSize(12);

var stryui = document.getElementById('filtroUno').value;
if(stryui != ""){
 doc.text(15, 40, stryui);
}


doc.setFontSize(8);





//FOOTER
doc.text(20, 285, "Generado el " + fecha_hoy);
doc.text(155, 285, "Página 1 de 1");

doc.setLineWidth(0.2)
doc.line(10, 30, 200, 30)

//Seccion Chart
doc.addImage(canvasImg, 'PNG', 30, 50, 135, 90 );

 


/**    doc.autoTable({
head: [['Name', 'Email', 'Country']],
body: [
['David', 'david@example.com', 'Sweden'],
['Castille', 'castille@example.com', 'Norway'],
// ...
],
});**/


/**var sourceZe = $('#tablaUno')[0];
doc.fromHTML(sourceZe,30,150,  {// y coord
                 'width': 50, // max width of content on PDF
                 
             });**/

doc.save('canvas.pdf');

});
</script>



<script>
    function imprimirEsto() {
        print();
    }
</script>

{% endblock contenidiPagina %}