{%extends 'index.html'%}

{% load staticfiles %}






{%block contenidiPagina%}

{%block archivos2%}

<script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>

<script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    



<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://cdn.jsdelivr.net/npm/jspdf@1.5.3/dist/jspdf.min.js"></script>



<script  src="https://unpkg.com/jspdf-autotable@3.2.13/dist/jspdf.plugin.autotable.js"></script>
{%endblock archivos2%}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>






<script>
    var listaCompo = [];
    var listaCompoCantidad = [];
</script>
{%for k,v in dicti.items%}
<script>


    t = { y: parseInt("{{v}}"), name: "{{k}}", exploded: true };
    listaCompo.push("{{k}}");
    listaCompoCantidad.push(parseInt("{{v}}"));


</script>
{%endfor%}

<script>
    var lista2Nom = [];
    var lista2Cant = [];
</script>
{%for k,v in dicti4.items%}
<script>


    t = { y: parseInt("{{v}}"), name: "{{k}}", exploded: true };
    lista2Nom.push("{{k}}");
    lista2Cant.push(parseInt("{{v}}"));


</script>
{%endfor%}

<script>
    var lista3Nom = [];
    var lista3Cant = [];
</script>
{%for k,v in dicti7.items%}
<script>


    t = { y: parseInt("{{v}}"), name: "{{k}}", exploded: true }
    lista3Nom.push("{{k}}");
    lista3Cant.push(parseInt("{{v}}"));


</script>
{%endfor%}
<!--
<script>

    window.onload = function () {


        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Compositores mas destacados - (segun uso de Partituras)"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: lista
            }]
        });



        var chart2 = new CanvasJS.Chart("chartContainer2", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Géneros musicales mas preferidos"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: lista2
            }]
        });
        var chart3 = new CanvasJS.Chart("chartContainer3", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Niveles de dificultad mas utilizado"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: lista3
            }]
        });

        chart.render();
        chart2.render();
        chart3.render();
    }



    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }
</script>
-->
</head>

<style type="text/css">
    div#colapser1 {

        display: none;
    }

    div#colapser2 {

        display: none;
    }

    div.colap {
        margin-bottom: 5%;
    }

    path.highcharts-button-symbol {
        display: none;
    }

    label#tyutyu2 {
        display: inline-block;
    }

    input#tyutyu {
        display: inline-block;
        width: 20%;
    }

    div.canvasjs-chart-toolbar {
        display: none;
    }
</style>


<body>
    <div class="colap">
        <div>
            <h1 class="h3 mb-2 text-gray-800">Gráfico de utilidad de partituras </h1>
            <p class="mb-4">Se presentan los géneros musicales, niveles y compositores que están mas presentes en las
                partituras usadas durante las clases.</p>
            <div >
                <form class="user" method="POST">
                    {% csrf_token %}
                    <label for="" id="tyutyu2">Filtrar por fecha: </label>
                    <input class="form-control" style="display: inline-block; width: 35%;" type="text" name="daterange" id="daterangepic" value="01/01/2020 - 01/10/2020" />
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </form>
            </div>
            <br>
            <br>
        </div>
        <input type="hidden" id="filtroUno" value="{{filtroUno}}">
        <input type="hidden" id="filtroDos" value="{{filtroDos}}">
        <input type="hidden" id="filtroTres" value="{{filtroTres}}">
        {%if filtroUno != ""%}
        <label>Se ha filtrado las estadísticas, para lo cual solo se tuvieron en cuenta las partituras creadas entre: {{fechaUno}} y {{fechaDos}}</label>
        <hr>
        {%endif%}

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Compositores</a>
                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Géneros</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false">Niveles</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                
                <!--ini-->
                <div class="card shadow" style="border-top:0px;background-color: rgb(247, 247, 247);">
                    <div style="margin: 0.5%;">
                        <button class="btn btn-info" id="botonImprimir1" style="float: right;"> <i class="fa fa-print"></i></button>
                    </div>
              
                <center>
                <div style="margin: 2%;">
                <div class="card shadow" style="width: 70%; height: 70%;">
                    <canvas id="pie-chart" width="auto" height="auto"></canvas>
                </div>
                <br>
                <div id="tablaUno"   class="card shadow" style="width: 70%; height: 70%;">
                    
                      <div  class="table-responsive table--no-card m-b-30" style="padding-left:20%;padding-right: 20%;padding-top: 5%; padding-bottom: 2%;">
                        <div  >
                          <table id="tablaUnoOriginal" class="table table-borderless table-striped table-earning">
                              <thead>
                                  <tr style="background-color: rgb(63, 63, 63);color: white;">
                                      <th style='text-align:left'>Nombre de compositor</th>
                                      <th style='text-align:right'>Cantidad</th>
                                  </tr>
                              </thead>
                              <tbody id="mi-tabla1">
                                {%for k,v in dicti.items%}
                                <tr>
                                    <td>{{k}}</td>
                                    <td style='text-align:right'>{{v}}</td>
                                </tr>
                               
                                {%endfor%}

                              </tbody>
                          </table>
                        </div>
                    </div>
                </div>
                </div>
                </center>
                </div>
                <!--ini-->

            </div>
            <input type="hidden" id="inputOculto33" value="{{pedidor}}">
            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                <!--ini-->
                <div class="card shadow" style="border-top:0px;background-color: rgb(247, 247, 247);">
                    <div style="margin: 0.5%;">
                        <button class="btn btn-info" id="botonImprimir2" style="float: right;"> <i class="fa fa-print"></i></button>
                    </div>
              
                <center>
                <div style="margin: 2%;">
                <div class="card shadow" style="width: 70%; height: 70%;">
                    <canvas id="pie-chart2" width="auto" height="auto"></canvas>
                </div>
                <br>
                <div class="card shadow" style="width: 70%; height: 70%;">
                    
                      <div class="table-responsive table--no-card m-b-30" style="padding-left:20%;padding-right: 20%;padding-top: 5%; padding-bottom: 2%;">
                          <table id="tablaDosOriginal" class="table table-borderless table-striped table-earning">
                              <thead>
                                  <tr style="background-color: rgb(63, 63, 63);color: white;">
                                      <th style='text-align:left'>Nombre del género musical</th>
                                      <th style='text-align:right'>Cantidad</th>
                                  </tr>
                              </thead>
                              <tbody id="mi-tabla2">
                                {%for k,v in dicti4.items%}
                                <tr>
                                    <td>{{k}}</td>
                                    <td style='text-align:right'>{{v}}</td>
                                </tr>
                               
                                {%endfor%}

                              </tbody>
                          </table>
                      
                    </div>
                </div>
                </div>
                </center>
                </div>
                <!--ini-->

            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

               <!--ini-->
               <div class="card shadow" style="border-top:0px;background-color: rgb(247, 247, 247);">
                <div style="margin: 0.5%;">
                    <button class="btn btn-info" id="botonImprimir3" style="float: right;"> <i class="fa fa-print"></i></button>
                </div>
          
            <center>
            <div style="margin: 2%;">
            <div class="card shadow" style="width: 70%; height: 70%;">
                <canvas id="pie-chart3" width="auto" height="auto"></canvas>
            </div>
            <br>
            <div class="card shadow" style="width: 70%; height: 70%;">
                
                  <div class="table-responsive table--no-card m-b-30" style="padding-left:20%;padding-right: 20%;padding-top: 5%; padding-bottom: 2%;">
                      <table id="tablaTresOriginal" class="table table-borderless table-striped table-earning">
                          <thead>
                              <tr style="background-color: rgb(63, 63, 63);color: white;">
                                  <th style='text-align:left'>Nivel</th>
                                  <th style='text-align:right'>Cantidad</th>
                              </tr>
                          </thead>
                          <tbody id="mi-tabla3">
                            {%for k,v in dicti7.items%}
                            <tr>
                                <td>{{k}}</td>
                                <td style='text-align:right'>{{v}}</td>
                            </tr>
                           
                            {%endfor%}

                          </tbody>
                      </table>
                  
                </div>
            </div>
            </div>
            </center>
            </div>
            <!--ini-->

            </div>
        </div>




    </div>







    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



</body>
<script>
    function imprimirEsto(){
        print();
    }

new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    animationEnabled: true,
    data: {
      labels: listaCompo,
      datasets: [{
        label: "",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#d6fe29","#af4ea6","#da9409","#2b508e","#04de03","#785d73","#94b813","#7e61f3","#e537fd", "#3da8ac","#f7e39f","#039ecf"],
        data: listaCompoCantidad
      }]
    },
    options: {
      title: {
        fontSize: 20,
        display: true,
        text: "Compositores mas destacados"
      }
    }
});
new Chart(document.getElementById("pie-chart2"), {
    type: 'pie',
    animationEnabled: true,
    data: {
      labels: lista2Nom,
      datasets: [{
        label: "",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#d6fe29","#af4ea6","#da9409","#2b508e","#04de03","#785d73","#94b813","#7e61f3","#e537fd", "#3da8ac","#f7e39f","#039ecf"],
        data: lista2Cant
      }]
    },
    options: {
      title: {
        fontSize: 20,
        display: true,
        text: "Géneros musicales mas preferidos"
      }
    }
});
new Chart(document.getElementById("pie-chart3"), {
    type: 'pie',
    animationEnabled: true,
    data: {
      labels: lista3Nom,
      datasets: [{
        label: "",
        backgroundColor:["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#d6fe29","#af4ea6","#da9409","#2b508e","#04de03","#785d73","#94b813","#7e61f3","#e537fd", "#3da8ac","#f7e39f","#039ecf"],
        data: lista3Cant
      }]
    },
    options: {
      title: {
        fontSize: 20,
        display: true,
        text: "Niveles de dificultad mas utilizado"
      }
    }
});
</script>
<script>


    $(function() {
      $('#daterangepic').daterangepicker({
        "locale": {
    "format": "DD/MM/YYYY",
    "separator": " - ",
    "applyLabel": "Aplicar",
    "cancelLabel": "Cancelar",
    "fromLabel": "Desde",
    "toLabel": "Hasta",
    "customRangeLabel": "Custom",
    "daysOfWeek": [
        "Dom",
        "Lun",
        "Mar",
        "Mie",
        "Jue",
        "Vie",
        "Sáb"
    ],
    "monthNames": [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
    ],
    "firstDay": 0
},
        opens: 'left'
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });

</script>


<script>
       $('#botonImprimir1').on('click', function() {

var canvas = document.querySelector("#pie-chart");
 
//Escoje la calidad de la imagen segun el navegador supuestamente, la verdad no veo diferencia xd
var v = 0
var url = canvas.toDataURL('image/jpeg')
for(var i = 0; i < 100; i++ ){

    v += 0.01;
    x = parseFloat((v).toFixed(2))
    var test = canvas.toDataURL('image/jpeg', x);

    if(test == url){
        console.log('The default value is: ' + x);
    }
}
var canvasImg = canvas.toDataURL("image/png", x); //JPEG will not match background color
//creates PDF from img
var doc = new jsPDF('portrait');

//Seccion Titulo/Encabezado
var logo = '{{textoImagen}}';
doc.addImage(logo, 'PNG', 10, 10, 30, 15)                                                                                                                                                                                                                                                               
doc.setFont('helvetica')
doc.setFontType('bold')
doc.setFontSize(16);        
doc.text(70, 28, "Reporte de estadística");
doc.setFontType('normal')
doc.setFontSize(8);
var generado_por = "Admin"
var hoy = new Date();
var dd = hoy.getDate();
 var mm = hoy.getMonth()+1;
 var yyyy = hoy.getFullYear();
 
if(dd<10) {
dd='0'+dd;
} 

if(mm<10) {
mm='0'+mm;
} 
var fecha_hoy = dd+"/"+mm+"/"+yyyy;
var filtro_user= "filtrado por teves"
var filtro_fecha = $('#daterangepicker').val()
var pk_user_actual = 325

if(pk_user_actual == filtro_user){
    filtro_user = generado_por;
}else{
    filtro_user= $('#filter_user option:selected').text()
}

if(filtro_fecha == ''){
    filtro_fecha = '-'
}
var pprrt = document.getElementById('inputOculto33').value;
doc.text(145, 10, "Generado por: " + pprrt);

doc.setFontType('bold')
doc.setFontType('normal')

doc.setFontSize(12);

var stryui = document.getElementById('filtroUno').value;
if(stryui != ""){
 doc.text(15, 40, stryui);
}


doc.setFontSize(8);





//FOOTER
doc.text(20, 285, "Generado el " + fecha_hoy);
doc.text(155, 285, "Página 1 de 1");

doc.setLineWidth(0.2)
doc.line(10, 30, 200, 30)

//Seccion Chart
doc.addImage(canvasImg, 'PNG', 30, 50, 135, 90 );

 doc.autoTable({ 
     html: '#tablaUnoOriginal',
     margin: { top: 160
              },
 
  });


/**    doc.autoTable({
head: [['Name', 'Email', 'Country']],
body: [
['David', 'david@example.com', 'Sweden'],
['Castille', 'castille@example.com', 'Norway'],
// ...
],
});**/


/**var sourceZe = $('#tablaUno')[0];
doc.fromHTML(sourceZe,30,150,  {// y coord
                 'width': 50, // max width of content on PDF
                 
             });**/

doc.save('canvas.pdf');

});
$('#botonImprimir2').on('click', function() {

var canvas = document.querySelector("#pie-chart2");
 
//Escoje la calidad de la imagen segun el navegador supuestamente, la verdad no veo diferencia xd
var v = 0
var url = canvas.toDataURL('image/jpeg')
for(var i = 0; i < 100; i++ ){

    v += 0.01;
    x = parseFloat((v).toFixed(2))
    var test = canvas.toDataURL('image/jpeg', x);

    if(test == url){
        console.log('The default value is: ' + x);
    }
}
var canvasImg = canvas.toDataURL("image/png", x); //JPEG will not match background color
//creates PDF from img
var doc = new jsPDF('portrait');

//Seccion Titulo/Encabezado
var logo = '{{textoImagen}}';
doc.addImage(logo, 'PNG', 10, 10, 30, 15)                                                                                                                                                                                                                                                               
doc.setFont('helvetica')
doc.setFontType('bold')
doc.setFontSize(16);        
doc.text(70, 28, "Reporte de estadística");
doc.setFontType('normal')
doc.setFontSize(8);
var generado_por = "Admin"
var hoy = new Date();
var dd = hoy.getDate();
 var mm = hoy.getMonth()+1;
 var yyyy = hoy.getFullYear();
 
if(dd<10) {
dd='0'+dd;
} 

if(mm<10) {
mm='0'+mm;
} 
var fecha_hoy = dd+"/"+mm+"/"+yyyy;
var filtro_user= "filtrado por teves"
var filtro_fecha = $('#daterangepicker').val()
var pk_user_actual = 325

if(pk_user_actual == filtro_user){
    filtro_user = generado_por;
}else{
    filtro_user= $('#filter_user option:selected').text()
}

if(filtro_fecha == ''){
    filtro_fecha = '-'
}
var pprrt = document.getElementById('inputOculto33').value;
doc.text(145, 10, "Generado por: " + pprrt);

doc.setFontType('bold')
doc.setFontType('normal')

doc.setFontSize(12);

var stryui = document.getElementById('filtroDos').value;
if(stryui != ""){
 doc.text(15, 40, stryui);
}


doc.setFontSize(8);





//FOOTER
doc.text(20, 285, "Generado el " + fecha_hoy);
doc.text(155, 285, "Página 1 de 1");

doc.setLineWidth(0.2)
doc.line(10, 30, 200, 30)

//Seccion Chart
doc.addImage(canvasImg, 'PNG', 30, 50, 135, 90 );

 doc.autoTable({ 
     html: '#tablaDosOriginal',
     margin: { top: 160
              },
 
  });


/**    doc.autoTable({
head: [['Name', 'Email', 'Country']],
body: [
['David', 'david@example.com', 'Sweden'],
['Castille', 'castille@example.com', 'Norway'],
// ...
],
});**/


/**var sourceZe = $('#tablaUno')[0];
doc.fromHTML(sourceZe,30,150,  {// y coord
                 'width': 50, // max width of content on PDF
                 
             });**/

doc.save('canvas.pdf');

});
    $('#botonImprimir3').on('click', function() {

       var canvas = document.querySelector("#pie-chart3");
        
       //Escoje la calidad de la imagen segun el navegador supuestamente, la verdad no veo diferencia xd
       var v = 0
       var url = canvas.toDataURL('image/jpeg')
       for(var i = 0; i < 100; i++ ){

           v += 0.01;
           x = parseFloat((v).toFixed(2))
           var test = canvas.toDataURL('image/jpeg', x);

           if(test == url){
               console.log('The default value is: ' + x);
           }
       }
       var canvasImg = canvas.toDataURL("image/png", x); //JPEG will not match background color
       //creates PDF from img
       var doc = new jsPDF('portrait');
       
       //Seccion Titulo/Encabezado
       var logo = '{{textoImagen}}';
       doc.addImage(logo, 'PNG', 10, 10, 30, 15)                                                                                                                                                                                                                                                               
       doc.setFont('helvetica')
       doc.setFontType('bold')
       doc.setFontSize(16);        
       doc.text(70, 28, "Reporte de estadística");
       doc.setFontType('normal')
       doc.setFontSize(8);
       var generado_por = "Admin"
       var hoy = new Date();
       var dd = hoy.getDate();
        var mm = hoy.getMonth()+1;
        var yyyy = hoy.getFullYear();
        
if(dd<10) {
    dd='0'+dd;
} 
 
if(mm<10) {
    mm='0'+mm;
} 
       var fecha_hoy = dd+"/"+mm+"/"+yyyy;
       var filtro_user= "filtrado por teves"
       var filtro_fecha = $('#daterangepicker').val()
       var pk_user_actual = 325
      
       if(pk_user_actual == filtro_user){
           filtro_user = generado_por;
       }else{
           filtro_user= $('#filter_user option:selected').text()
       }

       if(filtro_fecha == ''){
           filtro_fecha = '-'
       }
       var pprrt = document.getElementById('inputOculto33').value;
       doc.text(145, 10, "Generado por: " + pprrt);
       
       doc.setFontType('bold')
       doc.setFontType('normal')

       doc.setFontSize(12);
    
       var stryui = document.getElementById('filtroTres').value;
       if(stryui != ""){
        doc.text(15, 40, stryui);
       }
       

       doc.setFontSize(8);
       

       
      
       
       //FOOTER
       doc.text(20, 285, "Generado el " + fecha_hoy);
       doc.text(155, 285, "Página 1 de 1");
       
       doc.setLineWidth(0.2)
       doc.line(10, 30, 200, 30)
       
       //Seccion Chart
       doc.addImage(canvasImg, 'PNG', 30, 50, 135, 90 );

        doc.autoTable({ 
            html: '#tablaTresOriginal',
            margin: { top: 160
                     },
        
         });


   /**    doc.autoTable({
    head: [['Name', 'Email', 'Country']],
    body: [
      ['David', 'david@example.com', 'Sweden'],
      ['Castille', 'castille@example.com', 'Norway'],
      // ...
    ],
  });**/


       /**var sourceZe = $('#tablaUno')[0];
       doc.fromHTML(sourceZe,30,150,  {// y coord
                        'width': 50, // max width of content on PDF
                        
                    });**/

       doc.save('canvas.pdf');

   });
</script>
{% endblock contenidiPagina %}