{%extends 'index.html'%}

{% load staticfiles %}

{%block contenidiPagina%}



{%block archivos2%}

<script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>

<script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    



<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{%endblock archivos2%}









<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
       var listaInstru = [];
    var listaInstruCantidad = [];
</script>
    {%for k,v in dicti.items%}
    <script>
        
        
        t = { y: parseInt("{{v}}"), name: "{{k}}", exploded: true }
        listaInstru.push("{{k}}");
    listaInstruCantidad.push(parseInt("{{v}}"));

        
    </script>
    {%endfor%}

    <script>
          var lista2Nom = [];
    var lista2Cant = [];
</script>
    {%for k,v in dicti4.items%}
    <script>
        
        
        t = { y: parseInt("{{v}}"), name: "{{k}}", exploded: true }
        lista2Nom.push("{{k}}");
    lista2Cant.push(parseInt("{{v}}"));

        
    </script>
    {%endfor%}

   

<script>
        window.onload = function () {
            
            
        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            title:{
                text: "Instrumentos mas prestados"
            },
            legend:{
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: lista
            }]
        });
        
                
        
        
        var chart3 = new CanvasJS.Chart("chartContainer3", {
            exportEnabled: true,
            animationEnabled: true,
            title:{
                text: "Alumnos con mas prestamos otorgados"
            },
            legend:{
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: lista3
            }]
        });
        
        
        chart.render();       
      
        chart3.render();
        }
        
        
        
        function explodePie (e) {
            if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();
        
        }
        </script>
       
        </head>

        <style type="text/css">
            div#colapser1 {
        
                display: none;
            }
        
            div#colapser2 {
        
                display: none;
            }
        
            div.colap {
                margin-bottom: 5%;
            }
        
            path.highcharts-button-symbol {
                display: none;
            }
            label#tyutyu2{
                display: inline-block;
            }
            input#tyutyu{
                display: inline-block;
                width: 20%;
            }
            div.canvasjs-chart-toolbar{
                display: none;
            }
        </style>


        <body>
                <div class="colap">
                        <div>
                            <h1 class="h3 mb-2 text-gray-800">Grafico de gestion de prestamos </h1>
                            <p class="mb-4">Se muestran la totalidad de prestamos otorgados, diferenciados por el mayor porcentaje de instrumentos mas solicitados y los alumnos que mas instrumentos han retirado.</p>
                            <div >
                                    <form class="user" method="POST">
                                            {% csrf_token %}
                                <label for="" id="tyutyu2">Filtrar por año: </label>
                                <input class="form-control" style="display: inline-block; width: 35%;" type="text" name="daterange" id="daterangepic" value="01/01/2020 - 01/10/2020" />
                                <button class="btn btn-primary" type="submit">Filtrar</button>
                                    </form>
                            </div>
                            <br>
                            <br>
                        </div>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                                    aria-controls="nav-home" aria-selected="true">Instrumentos</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                                    aria-controls="nav-profile" aria-selected="false">Alumnos</a>
                             
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                
                                <!--ini-->
                                <div class="card shadow" style="border-top:0px;background-color: rgb(247, 247, 247);">
                                    <div style="margin: 0.5%;">
                                        <button class="btn btn-info" onclick="imprimirEsto()" style="float: right;"> <i class="fa fa-print"></i></button>
                                    </div>
                              
                                <center>
                                <div style="margin: 2%;">
                                <div class="card shadow" style="width: 70%; height: 70%;">
                                    <canvas id="pie-chart" width="auto" height="auto"></canvas>
                                </div>
                                <br>
                                <div class="card shadow" style="width: 70%; height: 70%;">
                                    
                                      <div class="table-responsive table--no-card m-b-30" style="padding-left:20%;padding-right: 20%;padding-top: 5%; padding-bottom: 2%;">
                                          <table class="table table-borderless table-striped table-earning">
                                              <thead>
                                                  <tr style="background-color: rgb(63, 63, 63);color: white;">
                                                      <th style='text-align:left'>Nombre de instrumento</th>
                                                      <th style='text-align:right'>Cantidad de préstamos</th>
                                                  </tr>
                                              </thead>
                                              <tbody id="mi-tabla1">
                                                {%for k,v in dicti.items%}
                                                <tr>
                                                    <td>{{k}}</td>
                                                    <td style='text-align:right'>{{v}}</td>
                                                </tr>
                                               
                                                {%endfor%}
                
                                              </tbody>
                                          </table>
                                      
                                    </div>
                                </div>
                                </div>
                                </center>
                                </div>
                                <!--ini-->
                
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                
                                <!--ini-->
                                <div class="card shadow" style="border-top:0px;background-color: rgb(247, 247, 247);">
                                    <div style="margin: 0.5%;">
                                        <button class="btn btn-info" onclick="imprimirEsto()" style="float: right;"> <i class="fa fa-print"></i></button>
                                    </div>
                              
                                <center>
                                <div style="margin: 2%;">
                                <div class="card shadow" style="width: 70%; height: 70%;">
                                    <canvas id="pie-chart2" width="auto" height="auto"></canvas>
                                </div>
                                <br>
                                <div class="card shadow" style="width: 70%; height: 70%;">
                                    
                                      <div class="table-responsive table--no-card m-b-30" style="padding-left:20%;padding-right: 20%;padding-top: 5%; padding-bottom: 2%;">
                                          <table class="table table-borderless table-striped table-earning">
                                              <thead>
                                                  <tr style="background-color: rgb(63, 63, 63);color: white;">
                                                      <th style='text-align:left'>Nombre del alumno</th>
                                                      <th style='text-align:right'>Cantidad de préstamos</th>
                                                  </tr>
                                              </thead>
                                              <tbody id="mi-tabla2">
                                                {%for k,v in dicti4.items%}
                                                <tr>
                                                    <td>{{k}}</td>
                                                    <td style='text-align:right'>{{v}}</td>
                                                </tr>
                                               
                                                {%endfor%}
                
                                              </tbody>
                                          </table>
                                      
                                    </div>
                                </div>
                                </div>
                                </center>
                                </div>
                                <!--ini-->
                
                            </div>
                            
                        </div>
                    </div>



        



        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



        </body>
        <script>
            function imprimirEsto(){
        print();
    }

new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    animationEnabled: true,
    data: {
      labels: listaInstru,
      datasets: [{
        label: "",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: listaInstruCantidad
      }]
    },
    options: {
      title: {
        fontSize: 20,
        display: true,
        text: "Instrumentos más prestados"
      }
    }
});
new Chart(document.getElementById("pie-chart2"), {
    type: 'pie',
    animationEnabled: true,
    data: {
      labels: lista2Nom,
      datasets: [{
        label: "",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: lista2Cant
      }]
    },
    options: {
      title: {
        fontSize: 20,
        display: true,
        text: "Alumnos que mas préstamos solicitan"
      }
    }
});
        </script>



<script>


    $(function() {
      $('#daterangepic').daterangepicker({
        "locale": {
    "format": "DD/MM/YYYY",
    "separator": " - ",
    "applyLabel": "Aplicar",
    "cancelLabel": "Cancelar",
    "fromLabel": "Desde",
    "toLabel": "Hasta",
    "customRangeLabel": "Custom",
    "daysOfWeek": [
        "Dom",
        "Lun",
        "Mar",
        "Mie",
        "Jue",
        "Vie",
        "Sáb"
    ],
    "monthNames": [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Septiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
    ],
    "firstDay": 0
},
        opens: 'left'
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });

</script>

{% endblock contenidiPagina %}