{%extends 'index.html'%}

{% load staticfiles %}

{%block contenidiPagina%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    var listaCompo = [];
    var listaCompoCantidad = [];
</script>
{%for k,v in dicti.items%}
<script>


    t = { y: parseInt("{{v}}"), name: "{{k}}", exploded: true };
    listaCompo.push("{{k}}");
    listaCompoCantidad.push(parseInt("{{v}}"));


</script>
{%endfor%}

<script>
    var lista2Nom = [];
    var lista2Cant = [];
</script>
{%for k,v in dicti4.items%}
<script>


    t = { y: parseInt("{{v}}"), name: "{{k}}", exploded: true };
    lista2Nom.push("{{k}}");
    lista2Cant.push(parseInt("{{v}}"));


</script>
{%endfor%}

<script>
    var lista3Nom = [];
    var lista3Cant = [];
</script>
{%for k,v in dicti7.items%}
<script>


    t = { y: parseInt("{{v}}"), name: "{{k}}", exploded: true }
    lista3Nom.push("{{k}}");
    lista3Cant.push(parseInt("{{v}}"));


</script>
{%endfor%}
<!--
<script>

    window.onload = function () {


        var chart = new CanvasJS.Chart("chartContainer", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Compositores mas destacados - (segun uso de Partituras)"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: lista
            }]
        });



        var chart2 = new CanvasJS.Chart("chartContainer2", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Géneros musicales mas preferidos"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: lista2
            }]
        });
        var chart3 = new CanvasJS.Chart("chartContainer3", {
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Niveles de dificultad mas utilizado"
            },
            legend: {
                cursor: "pointer",
                itemclick: explodePie
            },
            data: [{
                type: "pie",
                showInLegend: true,
                toolTipContent: "{name}: <strong>{y}%</strong>",
                indexLabel: "{name} - {y}%",
                dataPoints: lista3
            }]
        });

        chart.render();
        chart2.render();
        chart3.render();
    }



    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }
</script>
-->
</head>

<style type="text/css">
    div#colapser1 {

        display: none;
    }

    div#colapser2 {

        display: none;
    }

    div.colap {
        margin-bottom: 5%;
    }

    path.highcharts-button-symbol {
        display: none;
    }

    label#tyutyu2 {
        display: inline-block;
    }

    input#tyutyu {
        display: inline-block;
        width: 20%;
    }

    div.canvasjs-chart-toolbar {
        display: none;
    }
</style>


<body>
    <div class="colap">
        <div>
            <h1 class="h3 mb-2 text-gray-800">Gráfico de utilidad de partituras </h1>
            <p class="mb-4">Se presentan los géneros musicales, niveles y compositores que están mas presentes en las
                partituras usadas durante las clases.</p>
            <div style="display: none;">
                <form class="user" method="POST">
                    {% csrf_token %}
                    <label for="" id="tyutyu2">Filtrar por año: </label>
                    <input class="form-control" id="tyutyu" name="number" type="number" placeholder="{{num}}" min="2000"
                        max="2100">
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </form>
            </div>
            <br>
            <br>
        </div>


        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Compositores</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Géneros</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false">Niveles</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                
                <!--ini-->
                <div class="card shadow" style="border-top:0px;background-color: rgb(247, 247, 247);">
                    <div style="margin: 0.5%;">
                        <button class="btn btn-info" onclick="imprimirEsto()" style="float: right;"> <i class="fa fa-print"></i></button>
                    </div>
              
                <center>
                <div style="margin: 2%;">
                <div class="card shadow" style="width: 70%; height: 70%;">
                    <canvas id="pie-chart" width="auto" height="auto"></canvas>
                </div>
                <br>
                <div class="card shadow" style="width: 70%; height: 70%;">
                    
                      <div class="table-responsive table--no-card m-b-30" style="padding-left:20%;padding-right: 20%;padding-top: 5%; padding-bottom: 2%;">
                          <table class="table table-borderless table-striped table-earning">
                              <thead>
                                  <tr style="background-color: rgb(63, 63, 63);color: white;">
                                      <th style='text-align:left'>Nombre de compositor</th>
                                      <th style='text-align:right'>Cantidad</th>
                                  </tr>
                              </thead>
                              <tbody id="mi-tabla1">
                                {%for k,v in dicti.items%}
                                <tr>
                                    <td>{{k}}</td>
                                    <td style='text-align:right'>{{v}}</td>
                                </tr>
                               
                                {%endfor%}

                              </tbody>
                          </table>
                      
                    </div>
                </div>
                </div>
                </center>
                </div>
                <!--ini-->

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                <!--ini-->
                <div class="card shadow" style="border-top:0px;background-color: rgb(247, 247, 247);">
                    <div style="margin: 0.5%;">
                        <button class="btn btn-info" onclick="imprimirEsto()" style="float: right;"> <i class="fa fa-print"></i></button>
                    </div>
              
                <center>
                <div style="margin: 2%;">
                <div class="card shadow" style="width: 70%; height: 70%;">
                    <canvas id="pie-chart2" width="auto" height="auto"></canvas>
                </div>
                <br>
                <div class="card shadow" style="width: 70%; height: 70%;">
                    
                      <div class="table-responsive table--no-card m-b-30" style="padding-left:20%;padding-right: 20%;padding-top: 5%; padding-bottom: 2%;">
                          <table class="table table-borderless table-striped table-earning">
                              <thead>
                                  <tr style="background-color: rgb(63, 63, 63);color: white;">
                                      <th style='text-align:left'>Nombre del género musical</th>
                                      <th style='text-align:right'>Cantidad</th>
                                  </tr>
                              </thead>
                              <tbody id="mi-tabla2">
                                {%for k,v in dicti4.items%}
                                <tr>
                                    <td>{{k}}</td>
                                    <td style='text-align:right'>{{v}}</td>
                                </tr>
                               
                                {%endfor%}

                              </tbody>
                          </table>
                      
                    </div>
                </div>
                </div>
                </center>
                </div>
                <!--ini-->

            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

               <!--ini-->
               <div class="card shadow" style="border-top:0px;background-color: rgb(247, 247, 247);">
                <div style="margin: 0.5%;">
                    <button class="btn btn-info" onclick="imprimirEsto()" style="float: right;"> <i class="fa fa-print"></i></button>
                </div>
          
            <center>
            <div style="margin: 2%;">
            <div class="card shadow" style="width: 70%; height: 70%;">
                <canvas id="pie-chart3" width="auto" height="auto"></canvas>
            </div>
            <br>
            <div class="card shadow" style="width: 70%; height: 70%;">
                
                  <div class="table-responsive table--no-card m-b-30" style="padding-left:20%;padding-right: 20%;padding-top: 5%; padding-bottom: 2%;">
                      <table class="table table-borderless table-striped table-earning">
                          <thead>
                              <tr style="background-color: rgb(63, 63, 63);color: white;">
                                  <th style='text-align:left'>Nivel</th>
                                  <th style='text-align:right'>Cantidad</th>
                              </tr>
                          </thead>
                          <tbody id="mi-tabla3">
                            {%for k,v in dicti7.items%}
                            <tr>
                                <td>{{k}}</td>
                                <td style='text-align:right'>{{v}}</td>
                            </tr>
                           
                            {%endfor%}

                          </tbody>
                      </table>
                  
                </div>
            </div>
            </div>
            </center>
            </div>
            <!--ini-->

            </div>
        </div>




    </div>







    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



</body>
<script>
    function imprimirEsto(){
        print();
    }

new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    animationEnabled: true,
    data: {
      labels: listaCompo,
      datasets: [{
        label: "",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: listaCompoCantidad
      }]
    },
    options: {
      title: {
        fontSize: 20,
        display: true,
        text: "Compositores mas destacados"
      }
    }
});
new Chart(document.getElementById("pie-chart2"), {
    type: 'pie',
    animationEnabled: true,
    data: {
      labels: lista2Nom,
      datasets: [{
        label: "",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: lista2Cant
      }]
    },
    options: {
      title: {
        fontSize: 20,
        display: true,
        text: "Géneros musicales mas preferidos"
      }
    }
});
new Chart(document.getElementById("pie-chart3"), {
    type: 'pie',
    animationEnabled: true,
    data: {
      labels: lista3Nom,
      datasets: [{
        label: "",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: lista3Cant
      }]
    },
    options: {
      title: {
        fontSize: 20,
        display: true,
        text: "Niveles de dificultad mas utilizado"
      }
    }
});
</script>

{% endblock contenidiPagina %}