{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<style type="text/css">

button#botonEleccion1{
  padding: 4px;
  margin-right: 10%;
  font-size: 22px;
}
p#msj{
    font-size: 17px;
}
button#botonEleccion2{
  padding: 4px;
  font-size: 22px;
}

</style>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row" id="row">
              
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Inicio de Sesion</h1>
                  </div>
                  <div id="cuadroMensajes" >

                      {% if messages %}
                      {% for message in messages %}
        
                      {% if message.tags == 'success'%}
                      <ul class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <p {% if message.tags %} class="{{ message.tags }}"{% endif %} id="msj"><strong>{{ message }}</strong></p>
                      </ul> 
                      {%endif%}
                      {% if message.tags == 'error'%}
                      <ul class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <p {% if message.tags %} class="{{ message.tags }}"{% endif %} id="msj"><strong>{{ message }}</strong></p>
                      </ul> 
                      {%endif%}
        
                      {% endfor %}
                     {% endif %}
              </div>
                  <form class="user" method="POST">
                      {%csrf_token%}
                    <div class="form-group">
                        
                      <input type="email" name="username" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Introdusca su Correo Electronico...">
                    
                    
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Su Contraseña" name="password">
                    <br>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Iniciar</button>
                    
                    <hr>
                    
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="#">Olvido su Contraseña?</a>
                  </div>
                  <div class="text-center">
                    
                    <!--modal-->
                    <div class="btn-group">
                        <center>
                            <a class="small" href="#" data-toggle="modal" data-target=".bs-example-modal-lg2">Crear una Cuenta!</a>
                        </center>
                        
                          <div class="modal fade bs-example-modal-lg2" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h4 class="modal-title" id="myModalLabel">Tipo de Cuenta a crear:</h4>
                                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                                                  </button>
                                          
                                      </div>
                                      <div class="modal-body">
                                        <a href="{% url 'registroProfesor'%}">
                                          <button type="button" href="#" class="btn btn-info btn-icon-split" id="botonEleccion1">Profesor</button>
                                        </a>
                                          <a href="{% url 'registroAlumno'%}">
                                          <button type="button" href="#" class="btn btn-info btn-icon-split" id="botonEleccion2">Alumno</button>
                                        </a>
                                      </div>
                                         <div class="modal-footer">
                                          
                                          <a href="#">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </a>
                                        </div>
                      
                                  </div>
                              </div>
                        </div>
                    <!--modal fin-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

</body>

</html>
