{%extends 'index.html'%}






{%block estilos%}
<script type="text/javascript">

    function ocultar_mostrar(){
        //alert(document.getElementById("elGranMenu").style.display )

        if(document.getElementById("elGranMenu").style.display == "none" || document.getElementById("elGranMenu").style.display == "" ){
            document.getElementById("elGranMenu").style.display='block';
        }
        else{
                document.getElementById("elGranMenu").style.display='none';
            }
    
    }
    
    </script>
<style type="text/css">
    div.eleccion{
        display: inline-block;
        margin-right: 30px;
        text-align: left;
        float:left;
        
        

    }
    div.informacion{
          display: inline-block;
          text-align: left;
          border: 5px solid #ccd2d9;
          width: 300px;
          height: 400px;
          border-radius: 43px 43px 43px 43px;
          -moz-border-radius: 43px 43px 43px 43px;
          -webkit-border-radius: 43px 43px 43px 43px;
          border: 7px solid #ccd2d9;
          
         
          

    }
    h4#descripcion{

        text-align: justify
    }
    a#tituloLista{

        background-color:#1585e8;
        color: black;
    }
    div#zonaInferior{

        margin-top: 40px;
        
    }
    div.unBloque{
        
        border: 2px solid;
        padding: 2%;
        
    }
    p.nomAlu{
        border: 1px solid;
        display: inline-block

    }
    a.verAlu{
        border: 1px solid;
        display: inline-block
    }
    a.selectAlu{
        border: 1px solid;
    }
    div.contenedorMedio{
        border: 2px solid;
        display: inline-block;
        
        
    }
    div#zonaInferior{

        border: 2px solid;

    }
    div#listaPrincipal{

        border: 2px solid;
        text-align: left;
        

    }
    div#bloqueSecundario{

        border: 2px solid;
    }
    div#temas{

        border: 2px solid;
        }
    div#partituras{

        border: 2px solid;
        }
    div#elGranMenu{
        border: 1px solid;
        margin-top: 10px;
        display: none;
        
        
    }
    div.laListaAlumnos{
        border: 1px solid;
        padding: 5px;
        display: inline-block;

    }
    div#nombreAlu{
        display:inline-block;
        margin-left: 5%;
        align-self: top;
        vertical-align: top;
        margin-top: 1%;
        font-size: 22px;
    }
    div#miBoton{
        width: 250px;
    }
    p.nomAlu{
        float: left;
    }
    a.verAlu{
        float: right;
    }
    a.selectAlu{
        float:right;
    }
    button.btn-secondary{
        background-color: #162cd0;
    }





</style>
{%endblock estilos%}

{%block contenidiPagina%}
            <div>
                <div>
                    
                    <center>
                        <h2>Clase: {{laClase.nombre}}</h1>
                        <h3>Profe a Cargo: {{laClase.profesorCargo.apellido}}, {{laClase.profesorCargo.nombre}}</h2>
                        <h4 id = "descripcion">{{laClase.descripcion}} </h2>
                    </center>
                    
                </div>
                <div id ="zonaInferior">
                   
                    <center>
                    <div id="listaPrincipal">
                        
                            <div class="laListaAlumnos">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="miBoton" onclick="ocultar_mostrar()">
                                      Lista de Alumnos de Clase:
                                    </button>
                                    <div id="elGranMenu" >

                                      
                                      <div class="unaFila">
                                          <p class="nomAlu">el nombre va aqui</p>
                                          <a class="verAlu" href="#">V</a>
                                          <a class="selectAlu" href="#">I</a>
                                      </div>
                                      <div class="unaFila">
                                            <p class="nomAlu">el nombre va aqui</p>
                                            <a class="verAlu" href="#">V</a>
                                            <a class="selectAlu" href="#">I</a>
                                    </div>
                                      
                                    <div class="unaFila">
                                        <button id="Asistencia">Marcar Asistencia</button>
                                    </div>

                                    </div>
                            </div>

                            <div id="nombreAlu">
                                Alumno: Ninguno seleccionado
                                <span>
                                        >w
                                    </span>
                            </div>
                            





                    </div>
                    <div id="bloqueSecundario">
                            
                            <div id="temas">
                                    blocke 1
                            </div>
                            <div id="partituras">
                                    blocke 2
                            </div>


                    </div>
                    </center>
                </div>
            </div>
{% endblock contenidiPagina %}